
// Head
head
	
	// Meta
	meta(charset='utf-8')

	// Title
	title Adventure Clues
		
	// Viewport
	meta(name='viewport', content='width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=3.0, user-scalable=yes')

	
	//- // Favicon



	//Customized website preview when share it to social networks or anywhere
	meta(property='og:title', content='Adventure Clues')
	meta(property='og:description', content='')
	meta(property='og:image', content='img/share-preview/share-preview.jpg')

	
	//- //Google fonts
	//- +css("https://fonts.googleapis.com/css?family=Montserrat:700,700i")

	// Main
	+css('css/main.css')
	
