
//modals

.modal#modal-hint
	
	.modal-dialog.modal-sm.modal-dialog-centered
		
		.modal-content

			.box

				.box__content

					.text-center.color-primary

						h2.font-main Are you sure you want to use  HINT?
						br
						br

						.row

							.col-6

								a.btn.btn-primary.btn-block(href="hint.html") YES

							.col-6

								a.btn.btn-primary.btn-block(href="#0" data-toggle='modal' data-target='#modal-hint') No






.modal#modal-reveal
	
	.modal-dialog.modal-sm.modal-dialog-centered
		
		.modal-content

			.box

				.box__content

					.text-center.color-primary

						h2.font-main Are you sure you want to use REVEAL?
						br
						br

						.row

							.col-6

								a.btn.btn-primary.btn-block(href="reveal.html") YES

							.col-6

								a.btn.btn-primary.btn-block(href="#0" data-toggle='modal' data-target='#modal-reveal') No


			


				

				

















