
.navbar.fixed-bottom

	.container

		ul.main-nav.nav.nav-justified

			li.nav-item.dropup.dropdown-tooltip.dropdown-tooltip--left
				a.nav-link(href="#0" data-toggle='dropdown')
					.nav-link__img
						img(src="img/navbar/points.svg", alt="", width='38')
					| Points

				.dropdown-menu
					.dropdown-menu__triangle
					.color-primary.text-center
						h3.mb-0.font-main 25
						p.mb-0.text-uppercase points





			li.nav-item.dropup.dropdown-tooltip
				a.nav-link(href="#0" data-toggle='dropdown')
					.nav-link__img
						img(src="img/navbar/time.svg", alt="", width='30')
					| Time

				.dropdown-menu
					.dropdown-menu__triangle
					.color-primary.text-center
						h3.mb-0.font-main 0m:14s

			li.nav-item.dropup.dropdown-tooltip.dropdown-tooltip--rules
				a.nav-link(href="#0" data-toggle='dropdown')
					.nav-link__img
						img(src="img/navbar/rules.svg", alt="", width='26')
					| Rules

				.dropdown-menu
					.dropdown-menu__triangle

					.dropdown-tooltip__scroll

						p To answer a question simply type your answer in the field. Once sure of your answer press OK to submit.
						ul
							li If you answer correctly first time 25 points!
							li If you are struggling to answer the clue, you can type hint (-5 points).
							li If you are really struggling or get a little lost along the way, you can type reveal which will reveal the answer and also provide you with a map of the start location for the next clue (-10 points).
							li Each time you answer incorrectly -10 points so make sure to make the most of the hints.
							li Keep track of your points and time during the trail by touching the menu icons at bottom of page.
							li If you are experiencing any technical difficulties during the trail, simply click on help for live chat help via WhatsApp. We will be happy to assist.


			li.nav-item
				a.nav-link(href="#0")
					.nav-link__img
						img(src="img/navbar/whatsapp.svg", alt="", width='29')
					| Help

				






	