//Scripts


//jQuery
script(src="js/jquery-3.2.1.min.js")


//Framework - Bootstrap
script(src="js/popper.min.js")
script(src="js/bootstrap.min.js")


//Main - plugins init
script(src="js/main.js")


