
//.action__buttons
span.action__buttons.action__buttons--shorted-mobile

	a.btn.btn--with-icons.btn-primary(target="_blank" href= iosLink)
		i.btn__icon.btn__icon--left.fa.fa-apple
		//texts for desktop and mobile
		span.btn__text.d-none.d-xl-block Get it for iOS
		span.btn__text.d-xl-none For iOS
		i.btn__icon.btn__icon--right.btn__icon--semitransparent.fa.fa-angle-right

	a.btn.btn--with-icons.btn-secondary(href="#0" data-toggle="modal" data-target="#modal-android-waitlist")
		i.btn__icon.btn__icon--left.fa.fa-android
		span.btn__text Join Waitlist
		i.btn__icon.btn__icon--right.btn__icon--semitransparent.fa.fa-angle-right
	
///.action__buttons
