//.footer
footer.footer

	.container


		.text-center
			
			//.logo
			a.logo.logo--footer.js-smooth-scroll(href="#top")
				img.logo__img(src="img/tpl/logo.svg", alt="")
			br

			h6.label.text-muted 2018 OTC
				span.text-lowercase me
				|, LLC. ALL RIGHTS RESERVED.


///.footer
