
.dropdown.dropdown--info

	a.link-icon(href="#0" data-toggle='dropdown')
		i.icon-circle.fa.fa-info

	.dropdown-menu.dropdown-menu-right

		.container-fluid.py-2

			h5 Info
			p.mb-0 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tenetur itaque.
