//FOOTER
footer.footer
	
	//FOOTER-NAV
	.footer-nav

		.container

			// class="js-link-animate-body" animates body fade out/in when redirect to another page
			ul.row.justify-content-md-between

				li.col-sm-auto

					a.footer-nav__item.js-link-animate-body(href="terms-and-conditions.html") Terms of Service

				li.col-sm-auto

					a.footer-nav__item.js-link-animate-body(href="privacy-policy.html") Privacy Policy

				li.col-sm-auto

					a.footer-nav__item.js-link-animate-body(href="payments-and-billing.html") Payments & Billing

				li.col-sm-auto

					a.footer-nav__item.js-link-animate-body(href="contact-us.html") Support

				li.col-sm-auto

					p.footer-nav__item Copyright 2019 © CrossGames 


		
	