
head
	
	meta(charset='utf-8')

	//Title
	title CrossGames - Lorem ipsum dolor sit amet
		
	//Viewport
	meta(name='viewport', content='width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=3.0, user-scalable=yes')

	+nf
	
	//Customized website preview - when share it to social networks or anywhere
	meta(property='og:title', content='Crossplay')
	meta(property='og:description', content='Play Video Games with Celebrities and Influencers. Browse thousands of top ranking players and schedule a video game session with our curated gaming talent')
	meta(property='og:image', content='img/_share-preview/share-preview.jpg')

	//- //Google Fonts
	//- +css("https://fonts.googleapis.com/css?family=Montserrat:400,400i,600,600i,700,700i&display=swap")
	
	//Font Awesome 5 Free Version
	//https://fontawesome.com/icons?d=gallery&m=free
	link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css")
	
	//Favicon
	link(rel='apple-touch-icon', sizes='180x180', href='/apple-touch-icon.png')
	link(rel='icon', type='image/png', sizes='32x32', href='/favicon-32x32.png')
	link(rel='icon', type='image/png', sizes='16x16', href='/favicon-16x16.png')
	link(rel='manifest', href='/site.webmanifest')
	link(rel='mask-icon', href='/safari-pinned-tab.svg', color='#000000')
	meta(name='msapplication-TileColor', content='#000000')
	meta(name='theme-color', content='#ffffff')



	//Styles
	+css('css/main.css')
	
