//SCRIPTS

//jQuery
script(src="js/jquery-3.4.1.min.js")

//Bootstrap
script(src="js/popper.min.js")
script(src="js/bootstrap.min.js")

//Range Slider
script(src="js/ion.rangeSlider.min.js")

//Main - plugins init, custom scripts
script(src="js/main.js")


