
.container,
.container-fluid,
.container-first-level
	position: relative
	+cl

.container
	// width: 1210px
	max-width: 96%

.container-fluid
	max-width: 1820px

.container--first-level,
.side-link
	padding-right: 50px
	padding-left: 50px

	+max1365
		padding-right: 30px
		padding-left: 30px

	// +max413
	// 	padding-right: 30px
	// 	padding-left: 30px

.container--first-level

	+max374
		padding-right: 15px
		padding-left: 15px


.grid-wide
	padding-right: 25px
	padding-left: 25px

	> .row
		margin-right: -25px
		margin-left: -25px
		
		+colAny
			padding-right: 25px
			padding-left: 25px


.row--gutters-phone-sm

	+max767
		margin-left: -8px
		margin-right: -8px

		+colAny
			padding-right: 8px
			padding-left: 8px

// .row--separator

// 	+min768
		
// 		> [class^="col"] + [class^="col"]
// 			border-left: #fff 1px solid


// .card-grid
// 	margin-top: 35px

// 	+colAny
// 		margin-bottom: 60px

// 		> .card
// 			margin-bottom: 0

// 		// +max767
// 			// margin-bottom: 40px

// 		> .card
// 			height: 100%



// .row--sm
// 	margin-right: -10px
// 	margin-left: -10px

// 	+colAny
// 		padding-right: 10px
// 		padding-left: 10px




// // custom columns
	
// .col-md-1-5
// 	+col


// +min768
	
// 	.col-md-1-5
// 		flex: 0 0 20%
// 		max-width: 20%


+colXxl













