extends templates/template.pug

block content

			
	//.dashboard-container
	.dashboard-container#dashboard-container




		//.main-nav__container - off-canvas__container
		.main-nav__container
			
			.off-canvas__container.off-canvas__container--left.main-nav__off-canvas#main-nav
				
				.icons-menu__scroll
					
					// tabs
					ul.nav.icons-menu.btn-group-vertical

						li

							a.icon-btn__group.icon-btn__group--toggle-text.btn.btn-warning.btn-group( href='#0' data-toggle-class='dashboard-container--link-text-opened', data-target=".dashboard-container")

								span.icon-btn__icon(data-toggle="tooltip" data-placement="right" title="Toggle text")
									i(class="fi-menu")
						
								span.icon-btn__text Toggle text

						// mobile close
						li.d-md-none

							a.icon-btn__group.btn.btn-warning.btn-group(href='#0' data-toggle-class="show" data-target="#main-nav",  data-toggle-class-2="dashboard-container--left-nav-opened" data-target-2="#dashboard-container")

								span.icon-btn__icon
									i(class="fi-left-chevron")
						


						+iconBtn(
							"home",
							"home",
							"Home"
						)

						+iconBtn(
							"search",
							"search",
							"Search"
						)

						+iconBtn(
							"saved-searches",
							"floppy-disk",
							"Saved searches"
						)
						
						+iconBtn(
							"draw-tools",
							"edit",
							"Draw tools"
						)
						
						+iconBtn(
							"journey-planner",
							"route",
							"Journey planner"
						)
						
						+iconBtn(
							"planner",
							"calendar",
							"Planner"
						)
						
						+iconBtn(
							"map-zone",
							"map",
							"Map zone"
						)
						
						+iconBtn(
							"telescope",
							"telescope",
							"Telescope"
						)
						
						+iconBtn(
							"alert",
							"marketing",
							"Alert"
						)
						
						+iconBtn(
							"cloud",
							"cloud",
							"Cloud"
						)
						
						+iconBtn(
							"library",
							"book",
							"Library"
						)
				
							
				//close button
				.off-canvas__toggle.off-canvas__toggle--left.btn.btn-lg.btn-warning.main-nav__off-canvas__toggle.d-md-none(data-toggle-class="show" data-target="#main-nav",  data-toggle-class-2="dashboard-container--left-nav-opened" data-target-2="#dashboard-container")
					i.fi-left-chevron

				
				//.menu-content

				.menu-content.tab-content
						
					//.tab-pane
					.tab-pane.nav__tab-pane#tab-home
						
						+tabPaneToggle("#tab-home")

						.tab-pane__sroll

							.layers-item__container
								
								.nav__tab-header
									h4 Home

									h5.text-muted Untitled Search
										a.icon-right(href="#0")
											i.fi-save
								hr

								h5 Map displayed
								
								.embed-responsive.embed-responsive-16by9.bg-placeholder
									iframe.embed-responsive-item(src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3146.8701120391543!2d115.20639284295615!3d-8.6861809506277!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x2dd141d3e8100fa1%3A0x24910fb14b24e690!2z0JHQsNC70ZYsINCG0L3QtNC-0L3QtdC30ZbRjw!5e1!3m2!1suk!2sua!4v1517519498665")
									//- iframe.embed-responsive-item(src="")
								
								hr.nav-separator


								h5 Workbench
								
								.embed-responsive.embed-responsive-16by9.bg-placeholder
									iframe.embed-responsive-item(src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3146.8701120391543!2d115.20639284295615!3d-8.6861809506277!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x2dd141d3e8100fa1%3A0x24910fb14b24e690!2z0JHQsNC70ZYsINCG0L3QtNC-0L3QtdC30ZbRjw!5e1!3m2!1suk!2sua!4v1517519498665")
									//- iframe.embed-responsive-item(src="")

								.text-right
									a(href="#") Export view
										i.icon-right.fi-export-document
								
								hr.nav-separator


								h5 Street view
								
								.embed-responsive.embed-responsive-16by9.bg-placeholder
									iframe.embed-responsive-item(src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3146.8701120391543!2d115.20639284295615!3d-8.6861809506277!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x2dd141d3e8100fa1%3A0x24910fb14b24e690!2z0JHQsNC70ZYsINCG0L3QtNC-0L3QtdC30ZbRjw!5e1!3m2!1suk!2sua!4v1517519498665")
									//- iframe.embed-responsive-item(src="")
								
					///.tab-pane



					//.tab-pane
					.tab-pane.nav__tab-pane#tab-search

						+tabPaneToggle("#tab-search")
						
						.tab-pane__sroll

							.layers-item__container
								
								.nav__tab-header
									h4
										| Search Query
										a.icon-right(href="#0")
											i.fi-save
								hr

								form

									.text-center
										
										p.mb-0: small.text-muted Only 1 can be selected - input radio

										// only 1 can be selected - input radio
										.btn-group.btn-group-toggle(data-toggle="buttons")

											label.btn.btn-secondary.active
												input(type="radio" name="search-type" checked)
												i.fi-letter-t

											label.btn.btn-secondary
												input(type="radio" name="search-type")
												i.fi-hexagon

											label.btn.btn-secondary
												input(type="radio" name="search-type")
												i.fi-circle

											label.btn.btn-secondary
												input(type="radio" name="search-type")
												i.fi-radar

											label.btn.btn-secondary
												input(type="radio" name="search-type")
												i.fi-square


										hr.nav-separator

										
										p.mb-0: small.text-muted Several can be selected - input checkbox

										// several can be selected - input checkbox
										.btn-group.btn-group-toggle(data-toggle="buttons")

											label.btn.btn-secondary.active
												input(type="checkbox" checked)
												i.fi-letter-t

											label.btn.btn-secondary
												input(type="checkbox")
												i.fi-hexagon

											label.btn.btn-secondary.active
												input(type="checkbox" checked)
												i.fi-circle

											label.btn.btn-secondary.active
												input(type="checkbox" checked)
												i.fi-radar

											label.btn.btn-secondary
												input(type="checkbox")
												i.fi-square

									hr.nav-separator


									h5.section-title
										i.icon-left.fi-square-1
										| Search by

									ul.options-list
										+checkbox-search(
											"Address",
											"address"
										)

										+checkbox-search(
											"City",
											"city"
										)

										+checkbox-search(
											"State",
											"state"
										)

										+checkbox-search(
											"Country",
											"country"
										)

										+checkbox-search(
											"Postcode",
											"postcode"
										)

										+checkbox-search(
											"Phone",
											"phone"
										)


									hr.nav-separator

									p
										+input("text", "Address")


									.row.row--gutters-small
										.col
											p
												+input("text", "City")
										.col
											p
												+input("text", "State")

									.row.row--gutters-small
										.col
											p
												+input("text", "Country")
										.col
											p
												+input("text", "Postcode")

									p
										+select("Located within")

									p
										+input("text", "Free search")

									hr.nav-separator


									h5.section-title
										i.icon-left.fi-database
										| Data Sources

									.row.row--gutters-small
										.col
											p
												+select("Data 1")
										.col
											p
												+select("Data 2")

									.row.row--gutters-small
										.col
											p
												+select("Data 3")
										.col
											p
												+select("Data 4")

									hr.nav-separator


									h5.section-title
										i.icon-left.fi-listing-option
										| Points of Interest


									ul.options-list
										
										+checkbox-interest(
											"Restaurants",
											"restaurants",
											"restaurant-interface-symbol-of-fork-and-knife-couple"
										)
										
										+checkbox-interest(
											"Bars",
											"bars",
											"cocktail"
										)
										
										+checkbox-interest(
											"Cafes",
											"cafes",
											"food"
										)
										
										+checkbox-interest(
											"Hotels",
											"hotels",
											"bed"
										)
										
										+checkbox-interest(
											"Attractions",
											"attractions",
											"photo-camera"
										)
										
										+checkbox-interest(
											"Nearby Transit",
											"nearby-transit",
											"sedan-car-front"
										)


									hr.nav-separator
									
									button.btn.btn-block.btn-primary(type=submit)
										| Search 

					///.tab-pane



					//.tab-pane
					.tab-pane.nav__tab-pane#tab-saved-searches

						+tabPaneToggle("#tab-saved-searches")
						
						.tab-pane__sroll

							.layers-item__container
								
								.nav__tab-header
									h4
										| Saved searches
								hr

								.d-flex.justify-content-between.align-items-center.mb-2

									h5.section-title.mb-0
										i.icon-left.fi-save
										span My saved maps & searches

									//drag
									.ml-auto
										.drag-dots.btn.btn-sm
											i.fi-menu-1

								+documents()
								
								hr.nav-separator
								br





								.d-flex.justify-content-between.align-items-center.mb-2

									h5.section-title.mb-0
										i.icon-left.fi-share
										span Shared maps & searches

									//drag
									.ml-auto
										.drag-dots.btn.btn-sm
											i.fi-menu-1

								+documents()
								
								hr.nav-separator
								br




								.d-flex.justify-content-between.align-items-center.mb-2

									h5.section-title.mb-0
										i.icon-left.fi-multiple-users-silhouette
										span Corporate maps

									//drag
									.ml-auto
										.drag-dots.btn.btn-sm
											i.fi-menu-1

								+documents()
								
								hr.nav-separator
								br


					///.tab-pane



					//.tab-pane
					.tab-pane.nav__tab-pane#tab-draw-tools

						+tabPaneToggle("#tab-draw-tools")
						
						.tab-pane__sroll

							.layers-item__container
								
								.nav__tab-header
									h4
										| Draw tools
								hr

								h5.section-title Group Title

								//.tools-scroll-container
								.tools-scroll-container.scroll-area

									.tools__row
										+tool("Line", "line-chart", "active")
										+tool("Polygon", "hexagon")
										+tool("Circle", "circle")
										+tool("Square", "square")
									
									.tools__row
										+tool("Text", "letter-t")
										+tool("Concentric Circle", "target-concentric-circles-symbol")
										+tool("Triangle", "triangle")
										+tool("Pin", "placeholder")
									
									.tools__row
										+tool("Arrow", "right-up")
										+tool("Arrows", "arrows")

								///.tools-scroll-container

								hr.nav-separator



								h5.section-title Measurement

								//.tools-scroll-container
								.tools-scroll-container.scroll-area

									.tools__row
										+tool("Line", "rule")
										+tool("Polygon", "hexagon")
										+tool("Diametre", "circle-1")
										+tool("Route", "route")
									

								///.tools-scroll-container

								hr.nav-separator



								h5.section-title Object Library

								//.tools-scroll-container
								.tools-scroll-container.scroll-area

									.tools__row
										+tool("Swimming pool", "summer")
										+tool("Water tank", "water-supply")
										+tool("Solar", "solar-battery")
										+tool("Truck", "delivery-truck")

									.tools__row
										+tool("Swimming pool", "summer")
										+tool("Water tank", "water-supply")
										+tool("Solar", "solar-battery")
										+tool("Truck", "delivery-truck")

									.tools__row
										+tool("Swimming pool", "summer")
										+tool("Water tank", "water-supply")
										+tool("Solar", "solar-battery")
										+tool("Truck", "delivery-truck")

									.tools__row
										+tool("Swimming pool", "summer")
										+tool("Water tank", "water-supply")
										+tool("Solar", "solar-battery")
										+tool("Truck", "delivery-truck")

									.tools__row
										+tool("Swimming pool", "summer")
										+tool("Water tank", "water-supply")
										+tool("Solar", "solar-battery")
										+tool("Truck", "delivery-truck")

									.tools__row
										+tool("Swimming pool", "summer")
										+tool("Water tank", "water-supply")
										+tool("Solar", "solar-battery")
										+tool("Truck", "delivery-truck")

									.tools__row
										+tool("Swimming pool", "summer")
										+tool("Water tank", "water-supply")
										+tool("Solar", "solar-battery")
										+tool("Truck", "delivery-truck")

									.tools__row
										+tool("Swimming pool", "summer")
										+tool("Water tank", "water-supply")
										+tool("Solar", "solar-battery")
										+tool("Truck", "delivery-truck")
									

								///.tools-scroll-container

								hr.nav-separator



								h5.section-title Layers Manager

								ul.indicators-list
									
									li.indicator-container
										a(href="#0")
											i.fi-layers.icon-left.icon-lg
											| Browse and add layer
									
									li.indicator-container
										a(href="#0")
											i.fi-filter.icon-left.icon-lg
											| Query
									
									li.indicator-container
										a(href="#0")
											i.fi-locations.icon-left.icon-lg
											| Thermatic map


								//- hr.nav-separator

					///.tab-pane



					//.tab-pane
					.tab-pane.nav__tab-pane#tab-journey-planner

						+tabPaneToggle("#tab-journey-planner")
						
						.tab-pane__sroll

							.layers-item__container
								
								.nav__tab-header
									h4
										| Journey planner
									
								hr

								form

									.d-flex.justify-content-between.align-items-center
										
										// several can be selected - input checkbox
										.btn-group.btn-group-toggle(data-toggle="buttons")

											label.btn.btn-secondary.active
												input(type="checkbox" checked)
												i.fi-car-compact

											label.btn.btn-secondary.active
												input(type="checkbox" checked)
												i.fi-front-of-bus

											label.btn.btn-secondary
												input(type="checkbox")
												i.fi-underground

											label.btn.btn-secondary
												input(type="checkbox")
												i.fi-pedestrian-walking


										a.btn.btn-link.link-simple(href="#0" data-toggle="collapse" data-target="#journey-planner-options") Options
											i.fi-down-arrow.icon-right.icon-sm

									
									//.journey-planner__options
									.journey-planner__options.collapse#journey-planner-options
										
										.section-title
											i.icon-left.fi-listing-option
											| Options


										ul.options-list
											+checkbox-search(
												"Option",
												"checkbox-option-1"
											)

											+checkbox-search(
												"Option",
												"checkbox-option-2"
											)
										
									///.journey-planner__options

									
									hr.nav-separator

									//.journey-planner__points-container
									.journey-planner__points-container

										+journeyPlannerPoint("A", "From")

										+reorderArrows

										+journeyPlannerPoint("B", "To")

										+reorderArrows

										+journeyPlannerPoint("C", "To")
									
									///.journey-planner__points-container
									
									p
										//add
										a.btn.btn-link(href="#0")
											i.fi-add.icon-left
											| Add point

									hr.nav-separator

									.row
										.col
											p.text-muted
												i.fi-clock.icon-left
												a.link-simple(href="#0" data-toggle="collapse" data-target="#leave-options") Leave now


										.col
											p
												+checkbox("checkbox-show-traffic", "Show traffic")
									
									.collapse#leave-options


										.section-title
											i.icon-left.fi-listing-option
											| Arrive by

										ul.options-list

											+checkbox-arrive(
												"Car",
												"car-compact"
											)

											+checkbox-arrive(
												"Bus",
												"front-of-bus"
											)
									
											+checkbox-arrive(
												"Subway",
												"underground"
											)


										hr.nav-separator
									

									
									button.btn.btn-block.btn-primary(type=submit)
										| Go 

					///.tab-pane



					//.tab-pane
					.tab-pane.nav__tab-pane#tab-planner

						+tabPaneToggle("#tab-planner")
						
						.tab-pane__sroll

							.layers-item__container
								
								.nav__tab-header
									h4
										| #tab-planner
									
								hr

								p Any content here.

					///.tab-pane



					//.tab-pane
					.tab-pane.nav__tab-pane#tab-map-zone

						+tabPaneToggle("#tab-map-zone")
						
						.tab-pane__sroll

							.layers-item__container
								
								.nav__tab-header
									h4
										| #tab-map-zone
									
								hr

								p Any content here.

					///.tab-pane



					//.tab-pane
					.tab-pane.nav__tab-pane#tab-telescope

						+tabPaneToggle("#tab-telescope")
						
						.tab-pane__sroll

							.layers-item__container
								
								.nav__tab-header
									h4
										| #tab-telescope
									
								hr

								p Any content here.

					///.tab-pane



					//.tab-pane
					.tab-pane.nav__tab-pane#tab-alert

						+tabPaneToggle("#tab-alert")
						
						.tab-pane__sroll

							.layers-item__container
								
								.nav__tab-header
									h4
										| #tab-alert
									
								hr

								p Any content here.

					///.tab-pane



					//.tab-pane
					.tab-pane.nav__tab-pane#tab-cloud

						+tabPaneToggle("#tab-cloud")
						
						.tab-pane__sroll

							.layers-item__container
								
								.nav__tab-header
									h4
										| #tab-cloud
									
								hr

								p Any content here.

					///.tab-pane



					//.tab-pane
					.tab-pane.nav__tab-pane#tab-library

						+tabPaneToggle("#tab-library")
						
						.tab-pane__sroll

							.layers-item__container
								
								.nav__tab-header
									h4
										| #tab-library
									
								hr

								p Any content here.

					///.tab-pane


				///.menu-content


		
		///.main-nav__container



		//.map__container
		.map__container
			
			//left nav toggle
			.map__toggle.map__toggle--left.btn.btn-primary.btn-lg.d-md-none(data-toggle-class="show" data-target="#main-nav", data-toggle-class-2="dashboard-container--left-nav-opened" data-target-2="#dashboard-container")
				i.fi-menu


			//.pointer-popup
			//hidden by default. add class show to make it visible
			.pointer-popup__container#pointer-popup__container.show
				.pointer-popup

					.d-flex.justify-content-between
						
						h3 Terri Moakes 

						a.pointer-popup__close.btn.btn-sm.btn-link.float-right(href="#0" data-toggle-class="show" data-target="#pointer-popup__container")
							i.fi-cross-out

					p 4 Big Muster Drive Dinner Plain VICTORIA 3898 Australia
					
					//tabs
					ul.nav.nav-tabs
						li.nav-item
							a.nav-link.active(href="#property-details" data-toggle="tab") Property details
						li.nav-item
							a.nav-link(href="#manage-customer" data-toggle="tab") Manage Customer

					//.tab-content
					.tab-content

						//.tab-pane
						.tab-pane#property-details.fade.show.active

							//.pointer-popup__scroll
							.pointer-popup__scroll.scroll-area

								h5.title-marked
									i.fi-home.icon-left
									| Building Details

								table.table
									tr
										td Elevation
										td 36.64
									tr
										td Maximum Roof Height
										td 5.9
									tr
										td Average Eave Height
										td 2.9
									tr
										td Area
										td 335.25
									tr
										td Number of Vertices
										td 23.0
									tr
										td Swimming Pool Adjacent
										td No
									tr
										td Max Tree Height
										td 6.64


								h5.title-marked
									i.fi-house-roof.icon-left
									| Roof Details

								table.table
									
									tr
										td Roof Material
										td Tile
									tr
										td Roof heigh:
										td 11.3m
									tr
										td Roof Type
										td Moderate Pitch
									tr
										td Solar panels
										td Yes


							///.pointer-popup__scroll
						
						///.tab-pane


						//.tab-pane
						.tab-pane#manage-customer.fade

							//.pointer-popup__scroll
							.pointer-popup__scroll.scroll-area

								.tools__row
									+tool("View", "people")
									+tool("Pin", "placeholder")
									+tool("Book appointment", "hand-shake")
									+tool("Assign", "list")
								
								.tools__row
									+tool("Add to route", "route")
									+tool("Add task", "file")
									+tool("Add as source", "solar-battery")
									+tool("Add as destination", "mark")

								p
									span.badge.badge-info
										| 87
										small %

									| &nbsp;

									span.badge.badge-dark
										| 36
										small %

									| &nbsp;

									span.badge.badge-success
										| 24
										small %

								.progressbars__container
									
									+progress("dark", "95")
									+progress("info", "45")
									+progress("secondary", "25")
									+progress("success", "100")
									+progress("danger", "35")
									+progress("warning", "15")
									+progress("warning", "0")


							///.pointer-popup__scroll
						
						///.tab-pane



			///.pointer-popup


			//.map__embed
			.embed-responsive.embed-responsive-16by9.map__embed
				iframe.map__iframe.embed-responsive-item(src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3146.8701120391543!2d115.20639284295615!3d-8.6861809506277!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x2dd141d3e8100fa1%3A0x24910fb14b24e690!2z0JHQsNC70ZYsINCG0L3QtNC-0L3QtdC30ZbRjw!5e1!3m2!1suk!2sua!4v1517519498665")
				//- iframe.map__iframe.embed-res(src="")
			
			//layers toggle
			.map__toggle.map__toggle--right.btn.btn-primary.btn-lg(data-toggle-class="show" data-target="#layers", data-toggle-class-2="dashboard-container--right-layers-opened" data-target-2="#dashboard-container")
				i.fi-layers
			
			//map zoom controls
			.map__controls
				
				//zoom in
				.map__control.btn.btn-primary
					i.fi-add
				
				//zoom out
				.map__control.btn.btn-primary
					i.fi-substract


		
		///.map__container


		//.map-view__tabs-container
		.map-view__tabs-container#map-satellite-and-data
		
			//map view toggle
			.map__view-toggle-container.btn-group

				a.map__view-toggle.btn.btn-primary(href="#0" data-target="#satellite")
					i.map__view-icon.icon-left.fi-satellite
					| Satellite

				a.map__view-toggle.btn.btn-primary(href="#0" data-target="#data")
					i.map__view-icon.icon-left.fi-graphic
					| Data

			//.map-view__tabs
			.map-view__tabs

				//.collapse
				.map-view__tab#satellite(data-parent="#map-satellite-and-data")

					.container-fluid

						br

						h5 Satellite options

						p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur debitis id nisi veritatis, aliquid velit odit quo praesentium ducimus. Tempora ratione provident qui saepe perspiciatis corporis atque quam ad eaque!
						p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur debitis id nisi veritatis, aliquid velit odit quo praesentium ducimus. Tempora ratione provident qui saepe perspiciatis corporis atque quam ad eaque!
						p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur debitis id nisi veritatis, aliquid velit odit quo praesentium ducimus. Tempora ratione provident qui saepe perspiciatis corporis atque quam ad eaque!
						p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur debitis id nisi veritatis, aliquid velit odit quo praesentium ducimus. Tempora ratione provident qui saepe perspiciatis corporis atque quam ad eaque!
						p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur debitis id nisi veritatis, aliquid velit odit quo praesentium ducimus. Tempora ratione provident qui saepe perspiciatis corporis atque quam ad eaque!
						p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur debitis id nisi veritatis, aliquid velit odit quo praesentium ducimus. Tempora ratione provident qui saepe perspiciatis corporis atque quam ad eaque!
						p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur debitis id nisi veritatis, aliquid velit odit quo praesentium ducimus. Tempora ratione provident qui saepe perspiciatis corporis atque quam ad eaque!
						p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur debitis id nisi veritatis, aliquid velit odit quo praesentium ducimus. Tempora ratione provident qui saepe perspiciatis corporis atque quam ad eaque!
						p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur debitis id nisi veritatis, aliquid velit odit quo praesentium ducimus. Tempora ratione provident qui saepe perspiciatis corporis atque quam ad eaque!
						p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur debitis id nisi veritatis, aliquid velit odit quo praesentium ducimus. Tempora ratione provident qui saepe perspiciatis corporis atque quam ad eaque!
						p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur debitis id nisi veritatis, aliquid velit odit quo praesentium ducimus. Tempora ratione provident qui saepe perspiciatis corporis atque quam ad eaque!
						p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur debitis id nisi veritatis, aliquid velit odit quo praesentium ducimus. Tempora ratione provident qui saepe perspiciatis corporis atque quam ad eaque!
						p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur debitis id nisi veritatis, aliquid velit odit quo praesentium ducimus. Tempora ratione provident qui saepe perspiciatis corporis atque quam ad eaque!
						p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur debitis id nisi veritatis, aliquid velit odit quo praesentium ducimus. Tempora ratione provident qui saepe perspiciatis corporis atque quam ad eaque!
						p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur debitis id nisi veritatis, aliquid velit odit quo praesentium ducimus. Tempora ratione provident qui saepe perspiciatis corporis atque quam ad eaque!
						p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur debitis id nisi veritatis, aliquid velit odit quo praesentium ducimus. Tempora ratione provident qui saepe perspiciatis corporis atque quam ad eaque!
						p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur debitis id nisi veritatis, aliquid velit odit quo praesentium ducimus. Tempora ratione provident qui saepe perspiciatis corporis atque quam ad eaque!
						p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur debitis id nisi veritatis, aliquid velit odit quo praesentium ducimus. Tempora ratione provident qui saepe perspiciatis corporis atque quam ad eaque!
						p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur debitis id nisi veritatis, aliquid velit odit quo praesentium ducimus. Tempora ratione provident qui saepe perspiciatis corporis atque quam ad eaque!
					
				///.collapse


				//.collapse
				.map-view__tab#data(data-parent="#map-satellite-and-data")

					.container-fluid

						br

						h5 Data options
						p Any content here

						p Any content here
						p Any content here

						p Any content here
						p Any content here

						p Any content here
						p Any content here

				
				///.collapse
			
			///.map-view__tabs
		

		///.map-view__tabs-container




		//.layers__container - off-canvas__container
		.layers__container.off-canvas__container.off-canvas__container--right#layers
			
			//close button
			.off-canvas__toggle.off-canvas__toggle--right.btn.btn-lg.btn-warning(data-toggle-class="show" data-target="#layers",  data-toggle-class-2="dashboard-container--right-layers-opened" data-target-2="#dashboard-container")
				i.fi-right-chevron

			//.off-canvas__scroll
			.off-canvas__scroll

				.layers-item__container

					//.layers-item
					.layers-item

						.layers__header
							h5 Base Map
							p
								+select("Aerial")


					///.layers-item

					hr.nav-separator


					//.layers-item
					.layers-item
						.d-flex.justify-content-between.align-items-center
							h5.mb-0 Map Layers
							// toggle all legends
							a.btn.btn-link(href="#0" data-toggle="collapse-all" data-target=".js-legend") Collapse all
					


					///.layers-item
					
					hr.nav-separator


					//.layers-item
					.layers-item


						+panel-set(
							"collapse-swimming-pool",
							"Swimming Pools",
							"checkbox-swimming-pools"
						)
						
						//.layers-item__collapse - collapsible part. if it has class "show" it is visible on load
						.layers-item__collapse.collapse.show.js-legend#collapse-swimming-pool

							ul.indicators-list

								li.indicator-container
									div.indicator-circle
										div.indicator-circle__dot.indicator--blue-dark
									span Pool
						
						///.layers-item__collapse

					///.layers-item

					hr.nav-separator


					//.layers-item
					.layers-item

						+panel-set(
							"collapse-solar-panels",
							"Solar Panels",
							"checkbox-solar-panels"
						)
						
						//.layers-item__collapse - collapsible part. if it has class "show" it is visible on load
						.layers-item__collapse.collapse.show.js-legend#collapse-solar-panels

							ul.indicators-list

								+indicator(
									"white",
									"No"
								)

								+indicator(
									"yellow",
									"Yes"
								)

						
						///.layers-item__collapse
					
					///.layers-item


					hr.nav-separator


					//.layers-item
					.layers-item

						+panel-set(
							"collapse-primary-roof-material",
							"Primary Roof Material",
							"checkbox-primary-roof-material"
						)
						
						//.layers-item__collapse - collapsible part. if it has class "show" it is visible on load
						.layers-item__collapse.collapse.show.js-legend#collapse-primary-roof-material

							ul.indicators-list

								+indicator(
									"violet-8",
									"Fibreglass/Plastic"
								)

								+indicator(
									"violet-7",
									"Flat Concrete"
								)

								+indicator(
									"silver",
									"Metal"
								)

								+indicator(
									"pink",
									"Tile"
								)

								+indicator(
									"green",
									"Unclassified"
								)

					
						///.layers-item__collapse
					
					///.layers-item

					hr.nav-separator


					//.layers-item
					.layers-item

						+panel-set(
							"collapse-maximum-roof-height",
							"Maximum Roof Height",
							"checkbox-maximum-roof-height"
						)
						
						//.layers-item__collapse - collapsible part. add/remove class "show" to make it is visible on load
						.layers-item__collapse.collapse.show.js-legend#collapse-maximum-roof-height

							ul.indicators-list

								+indicator(
									"violet-1",
									"0 to 5"
								)

								+indicator(
									"violet-2",
									"6 to 10"
								)

								+indicator(
									"violet-3",
									"11 to 15"
								)

								+indicator(
									"violet-4",
									"16 to 20"
								)

								+indicator(
									"violet-5",
									"21 to 25"
								)

								+indicator(
									"violet-6",
									"26 to 30"
								)

								+indicator(
									"violet-7",
									"31 to 35"
								)

								+indicator(
									"violet-8",
									"36+"
								)

						
						///.layers-item__collapse
					
					///.layers-item
				
				///.layers-item__container
						

			///.off-canvas__scroll

		
		///.layers__container




	///.dashboard-container




