extends templates/template-styleguide.pug
	
block content

	.container

		br

		h2 Font Icons
		p.lead
			a(href="https://www.flaticon.com" target="_blank") Flaticon.com 
			| used for icons creation.

		hr

		mixin icon($class)

			.icon-sample
				i(class= "fi-" + $class)
				p: code= "fi-" + $class



		





		+icon("mark")
		+icon("people-1")
		+icon("file")
		+icon("list")
		+icon("hand-shake")
		+icon("people")
		+icon("multiple-users-silhouette")
		+icon("can")
		+icon("share")
		+icon("share-1")
		+icon("black")
		+icon("next")
		+icon("circle-1")
		+icon("triangle")
		+icon("cloud")
		+icon("radar-1")
		+icon("layers")
		+icon("alarm")
		+icon("search")
		+icon("placeholder")
		+icon("save")
		+icon("draw-1")
		+icon("sort")
		+icon("down-arrow")
		+icon("up-arrow")
		+icon("delivery-truck")
		+icon("hexagon")
		+icon("thermometer")
		+icon("draw")
		+icon("filter")
		+icon("menu-1")
		+icon("left-chevron")
		+icon("food")
		+icon("rule")
		+icon("right-chevron")
		+icon("list-button-with-3-elements")
		+icon("underground")
		+icon("square-1")
		+icon("book")
		+icon("target-concentric-circles-symbol")
		+icon("letter-t")
		+icon("photo-camera")
		+icon("water-supply")
		+icon("circle")
		+icon("sedan-car-front")
		+icon("business")
		+icon("solar-battery")
		+icon("pedestrian-walking")
		+icon("living-room-books-group")
		+icon("house-roof")
		+icon("map")
		+icon("square-with-letter-i")
		+icon("graphic")
		+icon("car-compact")
		+icon("two-circling-arrows")
		+icon("home")
		+icon("listing-option")
		+icon("cross-out")
		+icon("double-arrow")
		+icon("database")
		+icon("satellite")
		+icon("export-document")
		+icon("cocktail")
		+icon("menu")
		+icon("bed")
		+icon("arrows")
		+icon("right-up")
		+icon("radar")
		+icon("marketing")
		+icon("line-chart")
		+icon("route")
		+icon("locations")
		+icon("floppy-disk")
		+icon("gps")
		+icon("front-of-bus")
		+icon("calendar")
		+icon("folder")
		+icon("edit")
		+icon("substract")
		+icon("add")
		+icon("square")
		+icon("download")
		+icon("set-square")
		+icon("right-arrow")
		+icon("telescope")
		+icon("clock")
		+icon("summer")
		+icon("restaurant-interface-symbol-of-fork-and-knife-couple")
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		












			

		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
