extends templates/_template.pug

block content

	
	//VERTICAL CENTER
	.page-content__center.my-auto
	

		//SECTION
		.section

			.container

				
				//SUBSECTION					
				.subsection

					.text-center

						h1.display-4 404
						p.lead.color-muted Not found 
