extends templates/_template.pug

block content
	
	//VERTICAL CENTER
	+animationDescription
	.page-content__center.my-auto.js-animation.js-animation--fade
	

		//SECTION
		.section

			.container

				.row

					.col-lg-11.mx-auto

						.row.align-items-center

							.col-sm-8
								
								//SUBSECTION
								.subsection

									.text-center.text-sm-left

										h1.display-4
											span CrossGames - Play Games

										p.lead.color-muted  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste consequuntur, explicabo incidunt repellendus nostrum ex.



							.col-sm-4
								
								//SUBSECTION
								.subsection

									.text-center

										img.img-fluid.img-hero-phone(src="img/hero/iphone-x.svg", alt="")



				


















