doctype html
html(lang='zxx')
	head
		meta(charset='utf-8')
		title
			| Pages List
		// VIEWPORT
		meta(name='viewport', content='width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=3.0, user-scalable=yes')
		style.
			body { margin: 0; font-family: Arial; text-align: center; }
			ul { margin: 0; padding: 0; }
			a { display: block; padding: 10px 0; font-size: 20px; text-decoration: none; color: #424439; border-bottom: #424439 1px dotted; text-transform: capitalize; }
			h3 {font-size: 20px; margin-bottom: 0;}
			hr {border: none; border-bottom: #424439 1px dotted;}
			p {font-size: 16px;}
	body

		h3 All Pages of Website
		p Click on any to go
		hr

		ul
			li: a(href="index.html") Home
			li: a(href="search-players.html") discover
			li: a(href="became-a-player.html") became-a-player
			li: a(href="contact-us.html") support

			li: a(href="terms-and-conditions.html") terms-and-conditions
			li: a(href="privacy-policy.html") privacy-policy
			li: a(href="payments-and-billing.html") payments-and-billing
			li: a(href="404.html") 404
			
			li: a(href="styleguide.html") styleguide


			

	


