extends templates/_template.pug

block content


	//VERTICAL SCROLL
	.page-content__center.h-100

		//SECTION
		//class="h-100" for BOX max-height
		.section.h-100
			
			//class="h-100" for BOX max-height
			.container.h-100

				//BOX
				.box.box--h-100
					
					//COMPONENT WITH FIXED AUTOHEIGHT HEADER AND SCROOLABLE CONTENT
					.vertical-space

						//HEADER
						.box__header
							
							h2 Privacy Policy

						//SCROOLABLE PART
						+animationDescription
						.vertical-space__filler.js-animation.js-animation--fade

							p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veritatis esse, soluta sed eum molestiae delectus. Incidunt neque, veniam doloremque quidem totam modi, in magnam nobis odit quis, quo officiis similique!

							p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veritatis esse, soluta sed eum molestiae delectus. Incidunt neque, veniam doloremque quidem totam modi, in magnam nobis odit quis, quo officiis similique!

							p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veritatis esse, soluta sed eum molestiae delectus. Incidunt neque, veniam doloremque quidem totam modi, in magnam nobis odit quis, quo officiis similique!

							h4 What information do we collect?
							p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veritatis esse, soluta sed eum molestiae delectus. Incidunt neque, veniam doloremque quidem totam modi, in magnam nobis odit quis, quo officiis similique!

							p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veritatis esse, soluta sed eum molestiae delectus. Incidunt neque, veniam doloremque quidem totam modi, in magnam nobis odit quis, quo officiis similique!
							p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veritatis esse, soluta sed eum molestiae delectus. Incidunt neque, veniam doloremque quidem totam modi, in magnam nobis odit quis, quo officiis similique!
							p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veritatis esse, soluta sed eum molestiae delectus. Incidunt neque, veniam doloremque quidem totam modi, in magnam nobis odit quis, quo officiis similique!

							h4 How is the information used?
							p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veritatis esse, soluta sed eum molestiae delectus. Incidunt neque, veniam doloremque quidem totam modi, in magnam nobis odit quis, quo officiis similique!
								
							p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veritatis esse, soluta sed eum molestiae delectus. Incidunt neque, veniam doloremque quidem totam modi, in magnam nobis odit quis, quo officiis similique!
							p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veritatis esse, soluta sed eum molestiae delectus. Incidunt neque, veniam doloremque quidem totam modi, in magnam nobis odit quis, quo officiis similique!
							p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veritatis esse, soluta sed eum molestiae delectus. Incidunt neque, veniam doloremque quidem totam modi, in magnam nobis odit quis, quo officiis similique!
							p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veritatis esse, soluta sed eum molestiae delectus. Incidunt neque, veniam doloremque quidem totam modi, in magnam nobis odit quis, quo officiis similique!
							p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veritatis esse, soluta sed eum molestiae delectus. Incidunt neque, veniam doloremque quidem totam modi, in magnam nobis odit quis, quo officiis similique!
							p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veritatis esse, soluta sed eum molestiae delectus. Incidunt neque, veniam doloremque quidem totam modi, in magnam nobis odit quis, quo officiis similique!

							p Cookies
							p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veritatis esse, soluta sed eum molestiae delectus. Incidunt neque, veniam doloremque quidem totam modi, in magnam nobis odit quis, quo officiis similique!

							p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veritatis esse, soluta sed eum molestiae delectus. Incidunt neque, veniam doloremque quidem totam modi, in magnam nobis odit quis, quo officiis similique!
							p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veritatis esse, soluta sed eum molestiae delectus. Incidunt neque, veniam doloremque quidem totam modi, in magnam nobis odit quis, quo officiis similique!
							p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veritatis esse, soluta sed eum molestiae delectus. Incidunt neque, veniam doloremque quidem totam modi, in magnam nobis odit quis, quo officiis similique!


