extends templates/_template.pug

block content


	//VERTICAL SCROLL
	.page-content__center.h-100

		//SECTION
		//class="h-100" for BOX max-height
		.section.h-100
			
			//class="h-100" for BOX max-height
			.container.h-100

				//BOX
				.box.box--h-100
					
					//COMPONENT WITH FIXED AUTOHEIGHT HEADER AND SCROOLABLE CONTENT
					.vertical-space

						//HEADER
						.box__header
							
							h2 Terms & Conditions

						//SCROOLABLE PART
						+animationDescription
						.vertical-space__filler.js-animation.js-animation--fade

							

							p Last Revised: June 16, 2019
							p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Totam minima veniam dolor nobis, itaque quis illo impedit unde rerum, quaerat eos? Corporis modi cum iusto illum eaque, esse at nisi!

							h4 CrossGames Usage Agreement
							p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Totam minima veniam dolor nobis, itaque quis illo impedit unde rerum, quaerat eos? Corporis modi cum iusto illum eaque, esse at nisi!
							
							p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Totam minima veniam dolor nobis, itaque quis illo impedit unde rerum, quaerat eos? Corporis modi cum iusto illum eaque, esse at nisi!
						

							h4 Privacy
							p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Totam minima veniam dolor nobis, itaque quis illo impedit unde rerum, quaerat eos? Corporis modi cum iusto illum eaque, esse at nisi!

							h4 Linked Sites
							p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Totam minima veniam dolor nobis, itaque quis illo impedit unde rerum, quaerat eos? Corporis modi cum iusto illum eaque, esse at nisi!
							p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Totam minima veniam dolor nobis, itaque quis illo impedit unde rerum, quaerat eos? Corporis modi cum iusto illum eaque, esse at nisi!

							h4 Forward Looking Statements
							p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Totam minima veniam dolor nobis, itaque quis illo impedit unde rerum, quaerat eos? Corporis modi cum iusto illum eaque, esse at nisi!

							p
								| 5. DISCLAIMER OF WARRANTIES AND LIMITATION OF LIABILITY
								br
								| A. THIS SITE MAY CONTAIN INACCURACIES AND TYPOGRAPHICAL ERRORS. WE DOES NOT WARRANT THE ACCURACY OR COMPLETENESS OF THE MATERIALS OR THE RELIABILITY OF ANY ADVICE, OPINION, STATEMENT OR OTHER INFORMATION DISPLAYED OR DISTRIBUTED THROUGH THE SITE. YOU EXPRESSLY UNDERSTAND AND AGREE THAT: (i) YOUR USE OF THE SITE, INCLUDING ANY RELIANCE ON ANY SUCH OPINION, ADVICE, STATEMENT, MEMORANDUM, OR INFORMATION CONTAINED HEREIN, SHALL BE AT YOUR SOLE RISK; (ii) THE SITE IS PROVIDED ON AN “AS IS” AND “AS AVAILABLE” BASIS; (iii) EXCEPT AS EXPRESSLY PROVIDED 

						

