extends templates/template.pug

block content




	.section

		.container

			.subsection
				
				//empty title for offset
				h2.section-title &nbsp;
				
				.text-shape
					
					img.text-shape__icon.text-shape__icon--right(src="img/icons/binoculars.png", alt="", width='35')

					.text-shape__content

						p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim voluptate velit esse cillum dolore eu fugiat nulla pariatur. anim id est laborum.
				
			
			.subsection

				.box-border
					
					//available proportions: "embed-responsive-21by9", "embed-responsive-16by9", "embed-responsive-4by3", "embed-responsive-1by1"
					.embed-responsive.embed-responsive-1by1
						img.embed-responsive-item(src="http://placehold.it/500x500", alt="")
					

					

			.subsection
				
				.text-shape
					
					.text-shape__content

						p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim voluptate velit esse cillum dolore eu fugiat nulla pariatur. anim id est laborum.
				


	.section

		.container

			.subsection

				a.btn.btn-success.btn-block.btn--text-xs(href="stats.html")
					| Yes I have have a spare 20 seconds 
					br
					| and take me to Stats
				
				a.btn.btn-primary.btn-block.btn-sm.text-transform-none(href="stats.html") No, take me to Stats




				
						







