extends templates/template.pug

block content




	.section

		.container

			.subsection
			
				+sectionTitle('oops... try again')

				.text-shape
					
					img.text-shape__icon(src="img/icons/binoculars.png", alt="", width='35')

					.text-shape__content

						p Retreat out of Temperance and go L past the smell of burgers again. Take your first L along King and cross over the street of a famous English city. Continue and Turn L at PJ’s. Continue until you find an entranceway on your L and step inside the courtyard. What is the name of the Duke?
				

			
			.subsection

				include inc/_form.pug


			.subsection

				.row.justify-content-center

					.col-6

						+btnHint('')

					.col-6

						include inc/_btn-reveal.pug




				
						







