doctype html
html
	head
		meta(charset='utf-8')
		title
			| All Pages
		// VIEWPORT
		meta(name='viewport', content='width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=3.0, user-scalable=yes')
		style.
			body { margin: 0; font-family: Arial; text-align: center; }
			ul { margin: 0; padding: 0; }
			a { display: block; padding: 10px 0; font-size: 20px; text-decoration: none; color: #424439; border-bottom: #424439 1px dotted; text-transform: capitalize; }
	body

		ul
			li: a(href="index.html") Welcome
			li: a(href="clue.html") Clue
			li: a(href="hint.html") hint
			li: a(href="reveal.html") reveal
			li: a(href="correct.html") correct
			li: a(href="incorrect.html") incorrect
			li: a(href="incorrect-from-hint.html") incorrect from hint
			li: a(href="rest-break.html") rest-break
			li: a(href="after-final-clue.html") after-final-clue
			li: a(href="stats.html") stats
			li: a(href="survey.html") survey


			li: a(href="styleguide.html") styleguide


			

	


