extends templates/template.pug

block content




	.section

		.container

			.subsection
				
				+sectionTitle('rest break')

				.text-shape.text-shape--green
					
					img.text-shape__icon.text-shape__icon--right(src="img/icons/binoculars.png", alt="", width='35')

					.text-shape__content

						p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim voluptate velit esse cillum dolore eu fugiat nulla pariatur. anim id est laborum.
				
			
			.subsection

				.box-border
					
					//available proportions: "embed-responsive-21by9", "embed-responsive-16by9", "embed-responsive-4by3", "embed-responsive-1by1"
					.embed-responsive.embed-responsive-16by9
						iframe.embed-responsive-item(src="https://www.youtube.com/embed/EzKImzjwGyM")

			.subsection

				.text-center

					a.btn.btn-primary(href="#0") Resume




				
						







