extends templates/template.pug

block content




	.section
		
		.container
		
			.subsection

				+sectionTitle('reveal')

				.text-shape.text-shape--green
					
					img.text-shape__icon(src="img/icons/binoculars.png", alt="", width='35')

					.text-shape__content

						h3.font-main
							| The correct answer is
							br
							| XXXXX
							br
							| You scored X points!
			


	.section
		
		.container
				
			.subsection

				.px-3

					p.text-center In case you got a little lost, head to the location marked on the map to start the next clue and scroll down.



	.section
			
		.container
		
			.subsection

				.box-border

					
					//available proportions: "embed-responsive-21by9", "embed-responsive-16by9", "embed-responsive-4by3", "embed-responsive-1by1"
					.embed-responsive.embed-responsive-1by1
						img.embed-responsive-item(src="http://placehold.it/500x500", alt="")
					
			

	
	.section
			
		.container

			.subsection
				
				+sectionTitle('did you know?')

				.text-shape.text-shape--green

					.text-shape__content

						p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut 


	.section
			
		.container

			.subsection

				.text-center

					a.btn.btn-primary(href="#0") CONTINUE





				
						







