extends templates/template.pug

block content

	//.page-container
	.page-container

		include components/_filters.pug

		//.page-content
		.page-content.page-content--filters.bg-white

			.container.container--right.ml-md-0


				//.section
				.section--list


					include components/_whats-in-london-header-list.pug


					include components/_section-subtitle.pug


					include components/_days-toggler.pug

				
					//.card-grid
					.card-grid--list

						+card-list(
							"Most Popular",
							"warning",

							"sport.jpg",
							"£5 Off. Code RFH50",

							"Event",
							"event",

							"Six Day London 2017",

							"Barbican Centre",
							"Wednesday 13 Nov",
							"9am - 6pm",

							"£14.50"
						)



						+card-list(
							"Special Offer",
							"primary",

							"man.jpg",
							"",

							"Talk",
							"talk",

							"Paul McKenna: Confident, Happy and Abundant!",

							"Barbican Centre",
							"Wednesday 13 Nov",
							"5.30pm",

							"£10"
						)



						+card-list(
							"",
							"",

							"sport.jpg",
							"Lorem ipsum dolor.",

							"Music",
							"music",

							"Lorem ipsum dolor sit amet, consectetur adipisicing",

							"Barbican Centre",
							"Wednesday 13 Nov",
							"5.30pm - 7.30pm",

							"£43 - £78"
						)



						+card-list(
							"",
							"",

							"man.jpg",
							"",

							"Dance",
							"dance",

							"Lorem ipsum dolor",

							"Barbican Centre",
							"Wednesday 13 Nov",
							"5.30pm - 7.30pm",

							"£43 - £78"
						)


					///.card-grid
				
				///.section

					

				//.section
				.section--list

					include components/_section-subtitle.pug

				
					//.card-grid
					.card-grid--list

						+card-list(
							"Most Popular",
							"warning",

							"sport.jpg",
							"£5 Off. Code RFH50",

							"Event",
							"event",

							"Six Day London 2017",

							"Barbican Centre",
							"Wednesday 13 Nov",
							"9am - 6pm",

							"£14.50"
						)



						+card-list(
							"Special Offer",
							"primary",

							"man.jpg",
							"",

							"Talk",
							"talk",

							"Paul McKenna: Confident, Happy and Abundant!",

							"Barbican Centre",
							"Wednesday 13 Nov",
							"5.30pm",

							"£10"
						)



						+card-list(
							"",
							"",

							"sport.jpg",
							"Lorem ipsum dolor.",

							"Music",
							"music",

							"Lorem ipsum dolor sit amet, consectetur adipisicing",

							"Barbican Centre",
							"Wednesday 13 Nov",
							"5.30pm - 7.30pm",

							"£43 - £78"
						)



						+card-list(
							"",
							"",

							"man.jpg",
							"",

							"Dance",
							"dance",

							"Lorem ipsum dolor",

							"Barbican Centre",
							"Wednesday 13 Nov",
							"5.30pm - 7.30pm",

							"£43 - £78"
						)


					///.card-grid

				//.section
					


				//.section
				.section--list

					include components/_section-subtitle.pug

				
					//.card-grid
					.card-grid--list

						+card-list(
							"Most Popular",
							"warning",

							"sport.jpg",
							"£5 Off. Code RFH50",

							"Event",
							"event",

							"Six Day London 2017",

							"Barbican Centre",
							"Wednesday 13 Nov",
							"9am - 6pm",

							"£14.50"
						)



						+card-list(
							"Special Offer",
							"primary",

							"man.jpg",
							"",

							"Talk",
							"talk",

							"Paul McKenna: Confident, Happy and Abundant!",

							"Barbican Centre",
							"Wednesday 13 Nov",
							"5.30pm",

							"£10"
						)



						+card-list(
							"",
							"",

							"sport.jpg",
							"Lorem ipsum dolor.",

							"Music",
							"music",

							"Lorem ipsum dolor sit amet, consectetur adipisicing",

							"Barbican Centre",
							"Wednesday 13 Nov",
							"5.30pm - 7.30pm",

							"£43 - £78"
						)



						+card-list(
							"",
							"",

							"man.jpg",
							"",

							"Dance",
							"dance",

							"Lorem ipsum dolor",

							"Barbican Centre",
							"Wednesday 13 Nov",
							"5.30pm - 7.30pm",

							"£43 - £78"
						)


					///.card-grid



				///.section

				hr.separator-mobile.d-md-none
				
				include components/_pagination.pug
				

		///.page-content


	///.page-container

