extends templates/template.pug

block content

	//.page-container
	.page-container

		include components/_filters-venues.pug

		//.page-content
		.page-content.page-content--filters

			.container.container--right.ml-md-0


				//.section
				section.section

					//.section-header
					.section-header.section-header--filters

						h2.section-title Venues And Attractions In London

					///.section-header


				
					//.card-grid
					.card-grid

						+card-place(
							"Most Popular",
							"warning",

							"museum.jpg",
							"£5 Off. Code RFH50",

							"Event",
							"event",

							"Barbican Centre",

							"Theatre",
							"Wednesday 13 Nov",
							"9am - 6pm",

							"£14.50"
						)



						+card-place(
							"Special Offer",
							"primary",

							"buiding.jpg",
							"",

							"Talk",
							"talk",

							"Barbican Centre. Lorem ipsum dolor",

							"Theatre",
							"Wednesday 13 Nov",
							"5.30pm",

							"£10"
						)



						+card-place(
							"",
							"",

							"museum.jpg",
							"Lorem ipsum dolor.",

							"Music",
							"music",

							"Lorem ipsum dolor sit amet, consectetur adipisicing",

							"Theatre",
							"Wednesday 13 Nov",
							"5.30pm - 7.30pm",

							"£43 - £78"
						)



						+card-place(
							"",
							"",

							"buiding.jpg",
							"",

							"Dance",
							"dance",

							"Lorem ipsum dolor",

							"Theatre",
							"Wednesday 13 Nov",
							"5.30pm - 7.30pm",

							"£43 - £78"
						)


					///.card-grid


					//.card-grid
					.card-grid

						+card-place(
							"Most Popular",
							"warning",

							"museum.jpg",
							"£5 Off. Code RFH50",

							"Event",
							"event",

							"Barbican Centre",

							"Sport",
							"Wednesday 13 Nov",
							"9am - 6pm",

							"£14.50"
						)



						+card-place(
							"Special Offer",
							"primary",

							"buiding.jpg",
							"",

							"Talk",
							"talk",

							"Barbican Centre. Lorem ipsum dolor",

							"Theatre",
							"Wednesday 13 Nov",
							"5.30pm",

							"£10"
						)



						+card-place(
							"",
							"",

							"museum.jpg",
							"Lorem ipsum dolor.",

							"Music",
							"music",

							"Lorem ipsum dolor sit amet, consectetur adipisicing",

							"Theatre",
							"Wednesday 13 Nov",
							"5.30pm - 7.30pm",

							"£43 - £78"
						)



						+card-place(
							"",
							"",

							"buiding.jpg",
							"",

							"Dance",
							"dance",

							"Lorem ipsum dolor",

							"Theatre",
							"Wednesday 13 Nov",
							"5.30pm - 7.30pm",

							"£43 - £78"
						)


					///.card-grid


				
					//.card-grid
					.card-grid

						+card-place(
							"Most Popular",
							"warning",

							"museum.jpg",
							"£5 Off. Code RFH50",

							"Event",
							"event",

							"Barbican Centre",

							"Sport",
							"Wednesday 13 Nov",
							"9am - 6pm",

							"£14.50"
						)



						+card-place(
							"Special Offer",
							"primary",

							"buiding.jpg",
							"",

							"Talk",
							"talk",

							"Barbican Centre. Lorem ipsum dolor",

							"Theatre",
							"Wednesday 13 Nov",
							"5.30pm",

							"£10"
						)



						+card-place(
							"",
							"",

							"museum.jpg",
							"Lorem ipsum dolor.",

							"Music",
							"music",

							"Lorem ipsum dolor sit amet, consectetur adipisicing",

							"Theatre",
							"Wednesday 13 Nov",
							"5.30pm - 7.30pm",

							"£43 - £78"
						)



						+card-place(
							"",
							"",

							"buiding.jpg",
							"",

							"Dance",
							"dance",

							"Lorem ipsum dolor",

							"Theatre",
							"Wednesday 13 Nov",
							"5.30pm - 7.30pm",

							"£43 - £78"
						)


					///.card-grid

				///.section

				hr.separator-mobile.d-md-none
				
				include components/_pagination.pug
				

		///.page-content


	///.page-container

