extends templates/template.pug

block content

	include components/_hero.pug

	//.page-content
	.page-content.page-content--bg-1

		.container




			//.section
			.section

				//.section-header
				.section-header

					.row.align-items-center

						.col-6
							h2.section-title Critics Choice

						.col-6

							.text-right
								a(href="all-activities.html") View all activities → 
				
				///.section-header


				
				//.card-grid
				.card-grid.card-scroll

					+card(
						"Most Popular",
						"warning",

						"sport.jpg",
						"£5 Off. Code RFH50",

						"Theatre",
						"theatre",

						"Six Day London 2017",

						"Barbican Centre",
						"Wednesday 13 Nov",
						"9am - 6pm",

						"£14.50",
						"",
						"popular"
					)



					+card(
						"Special Offer",
						"primary",

						"man.jpg",
						"",

						"Talk",
						"talk",

						"Paul McKenna: Confident, Happy and Abundant!",

						"Barbican Centre",
						"Wednesday 13 Nov",
						"",

						"£10",
						"",
						"popular"
					)



					+card(
						"",
						"",

						"sport.jpg",
						"Lorem ipsum dolor.",

						"Music",
						"music",

						"Lorem ipsum dolor sit amet, consectetur adipisicing",

						"Barbican Centre",
						"Wednesday 13 Nov",
						"5.30pm - 7.30pm",

						"£43 - £78"
					)



					+card(
						"",
						"",

						"man.jpg",
						"",

						"Dance",
						"dance",

						"Lorem ipsum dolor",

						"Barbican Centre",
						"Wednesday 13 Nov",
						"5.30pm - 7.30pm",

						"£43 - £78"
					)



					+card(
						"",
						"",

						"sport.jpg",
						"",

						"Exhibitions",
						"exhibition",

						"Lorem ipsum dolor",

						"Exhibitions",
						"Wednesday 13 Nov",
						"5.30pm - 7.30pm",

						"£43 - £78"
					)

				///.card-grid

			///.section


			hr.separator-mobile.d-md-none


			//.section
			.section

				//.section-header
				.section-header

					.row.align-items-center

						.col-6
							h2.section-title Seasons

						.col-6

							.text-right
								a(href="all-activities.html") View all → 
				
				///.section-header

				
				//.card-grid
				.card-grid.card-scroll

					+card(
						"",
						"",

						"girls.jpg",
						"£5 Off. Code RFH50",

						"Film",
						"film",

						"Six Day London 2017",

						"Barbican Centre",
						"Wednesday 13 Nov",
						"9am - 6pm",

						"£14.50",
						"large"
					)


					+card(
						"",
						"",

						"abdula.jpg",
						"",

						"Theatre",
						"theatre",

						"Paul McKenna: Confident, Happy and Abundant!",

						"Barbican Centre",
						"Wednesday 13 Nov",
						"5.30pm",

						"£10",
						"large"
					)


					+card(
						"",
						"",

						"really-strange-guy.jpg",
						"Lorem ipsum dolor.",

						"Music",
						"music",

						"Lorem ipsum dolor sit amet, consectetur adipisicing",

						"Barbican Centre",
						"Wednesday 13 Nov",
						"5.30pm - 7.30pm",

						"£43 - £78",
						"large"
					)
							
				
				///.card-grid

			///.section



	///.page-content



