include ../_variables.pug
include ../_mixins.pug

doctype
html(lang="zxx")

	include ../components/_head.pug

	body
	
		//.page-content
		.page-content

			//.main
			main.main

				block content


			///.main

		///.page-content

		include ../components/_scripts.pug
