// Scripts

// jQuery
script(src="js/jquery-3.2.1.min.js")

// Framework
script(src="js/popper.min.js")
script(src="js/bootstrap.min.js")

// Custom
script(src="js/styleguide.js")
script(src="js/main.js")
