<!DOCTYPE html>
<html lang="zxx">
<!-- Head-->

<head>
	<!-- Meta-->
	<meta charset="utf-8">
	<!-- Title-->
	<title>Adventure Clues</title>
	<!-- Viewport-->
	<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=3.0, user-scalable=yes">
	<!--Customized website preview when share it to social networks or anywhere-->
	<meta property="og:title" content="Adventure Clues">
	<meta property="og:description" content="">
	<meta property="og:image" content="img/share-preview/share-preview.jpg">
	<!-- Main-->
	<!--mixin css-->
	<link rel="stylesheet" href="css/main.css" />
</head>

<body>
	<div class="container py-3"></div>
	<!--Scripts-->
	<!--jQuery-->
	<script src="js/jquery-3.2.1.min.js"></script>
	<!--Framework - Bootstrap-->
	<script src="js/popper.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<!--Main - plugins init-->
	<script src="js/main.js"></script>
</body>

</html>