

//notifications
.dropdown.dropdown--notifications.dropdown--no-triangle

	.dropdown-toggle(data-toggle='dropdown')
		.counter-icon.counter-icon--sm-phone
			img.counter-icon__icon(src="img/icons/bell-gray.svg", alt="")
			.counter-icon__badge.bg-danger 2
	
	.dropdown-menu.dropdown-menu-right
		
		a.dropdown-item(href="#0")

			.alert-dismissible.alert--dropdown.show

				p.mb-0
					| You have new notification
					br
					| Lorem ipsum dolor sit amet, consectetur.
					| Lorem ipsum dolor sit amet, consectetur.
					| Lorem ipsum dolor sit amet, consectetur.
					| Lorem ipsum dolor sit amet, consectetur.
				
				.close(data-dismiss="alert") &times;


		
		a.dropdown-item(href="#0")

			.alert-dismissible.alert--dropdown.show

				p.mb-0
					| You have new notification
					br
					| Lorem ipsum dolor sit amet, consectetur.
				
				.close(data-dismiss="alert") &times;


		
		a.dropdown-item(href="#0")

			.alert-dismissible.alert--dropdown.show

				p.mb-0
					| You have new notification
					br
					| Lorem ipsum dolor sit amet, consectetur.
				
				.close(data-dismiss="alert") &times;

