
// Head
head
	
	// Meta
	meta(charset='utf-8')

	// Title
	title Name
		
	// Viewport
	meta(name='viewport', content='width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=3.0, user-scalable=yes')

	
	//Google fonts
	+css("https://fonts.googleapis.com/css?family=Montserrat:200,200i,300,300i,400,400i,500,500i,600,600i")
	
	//Font Awesome 5 Free Version
	link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css")

	//Styles
	+css('css/main.css')
	
