


.row.h-100.no-gutters

	include _slider.pug

			


	.col-lg-6.h-100

		.vertical-space__container
				
				
			//.vertical-space__filler will take all available vertical space
			.vertical-space__filler
			
				.container-fluid.container--first-level.h-md-100
					
					//vertical aligner
					.row.h-100.align-items-center

						.col-xxl-10.mx-auto

							.section

								.subsection

									form

										.text-center

											h1.display-3 Welcome to Name
											h2 Which best describes you?
											br
											br

											.grid-wide

												.row

													.col-sm-6

														button.btn.btn-primary.btn-block(type='submit') Gamer
													
													.col-sm-6
														button.btn.btn-primary.btn-block(type='submit') Spectator







