//menu mobile
.menu-mobile-dashboard

	h2.menu-mobile__title.d-lg-none Menu

	//side-menu
	ul.side-menu
		li.side-menu__item
			a.side-link.active(href="#0")
				i.side-link__icon.fa.fa-list
				.side-link__text Feed

			a.side-link(href="#0")
				i.side-link__icon.fa.fa-search
				.side-link__text Find Friends

			a.side-link(href="#0")
				i.side-link__icon.far.fa-star
				.side-link__text Liked Games