//Scripts

//jQuery
script(src="js/jquery-3.2.1.min.js")


//Framework - Bootstrap
script(src="js/popper.min.js")
script(src="js/bootstrap.min.js")

//Slider
script(src='js/owl.carousel.min.js')

//Main - plugins init, custom scripts
script(src="js/main.js")


