
//slide visible in screens width large then 992px
.col-md-6.d-none.d-lg-block
	

	//
		Slider
		https://github.com/OwlCarousel2/OwlCarousel2
	.owl-wrapper.h-100(data-slider='')
		
		.owl-carousel.owl-carousel--full-height
		
			//js inserts background. see main.js for info
			.slide.js-bg

				img.slide__image.js-bg-img(src="img/slider/slide-1.jpg", alt="")

				.slide__caption

					h1 Find new opportunities
					p A whole new way to talk and interact with your friends and gamers all around.
									

		
			//js inserts background. see main.js for info
			.slide.js-bg

				img.slide__image.js-bg-img(src="img/slider/slide-2.jpg", alt="")

				.slide__caption

					h1 Game Tips & Tricks
					p Learn all the new tricks and tips from the best gamers in the community!
									

		
			//js inserts background. see main.js for info
			.slide.js-bg

				img.slide__image.js-bg-img(src="img/slider/slide-3.jpg", alt="")

				.slide__caption

					h1 Find new opportunities
					p A whole new way to talk and interact with your friends and gamers all around.
									

			