
				
//user
.dropdown.dropdown--no-triangle

	.dropdown-toggle(data-toggle='dropdown')

		.user-set
			h3.user-set__name.d-none.d-lg-block Jane Doe
			img.user-set__photo(src="img/user/avatar.jpg", alt="")
	
	.dropdown-menu.dropdown-menu-right
		a.dropdown-item(href="#0") User Link
		a.dropdown-item(href="#0") User Link
		a.dropdown-item(href="#0") User Link
		a.dropdown-item(href="#0") User Link