extends templates/template.pug

block content

	.vertical-space__container


		include inc/_header.pug

		.vertical-space__filler
			
			.section

				.container

					.subsection
						
						h1 Homepage


					.subsection

						h2 Subsection
						p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius dignissimos ipsam vitae, perferendis sit distinctio nam vel cumque culpa voluptates reiciendis atque praesentium facere ipsum, non delectus harum magnam autem!
			
					.subsection

						h2 Subsection
						p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius dignissimos ipsam vitae, perferendis sit distinctio nam vel cumque culpa voluptates reiciendis atque praesentium facere ipsum, non delectus harum magnam autem!
			

					.subsection

						h2 Subsection
						p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius dignissimos ipsam vitae, perferendis sit distinctio nam vel cumque culpa voluptates reiciendis atque praesentium facere ipsum, non delectus harum magnam autem!
			

					.subsection

						h2 Subsection
						p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius dignissimos ipsam vitae, perferendis sit distinctio nam vel cumque culpa voluptates reiciendis atque praesentium facere ipsum, non delectus harum magnam autem!
			



			.section

				.container

					.subsection
						
						h2 Title

					.row

						.col-md-6

							.subsection

								h2 Subsection
								p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius dignissimos ipsam vitae, perferendis sit distinctio nam vel cumque culpa voluptates reiciendis atque praesentium facere ipsum, non delectus harum magnam autem!
					
						.col-md-6

							.subsection

								h2 Subsection
								p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius dignissimos ipsam vitae, perferendis sit distinctio nam vel cumque culpa voluptates reiciendis atque praesentium facere ipsum, non delectus harum magnam autem!
					

						.col-md-6

							.subsection

								h2 Subsection
								p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius dignissimos ipsam vitae, perferendis sit distinctio nam vel cumque culpa voluptates reiciendis atque praesentium facere ipsum, non delectus harum magnam autem!
					

						.col-md-6

							.subsection

								h2 Subsection
								p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius dignissimos ipsam vitae, perferendis sit distinctio nam vel cumque culpa voluptates reiciendis atque praesentium facere ipsum, non delectus harum magnam autem!
			





