doctype html
html
	head
		meta(charset='utf-8')
		title
			| Pages List
		// VIEWPORT
		meta(name='viewport', content='width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=3.0, user-scalable=yes')
		style.
			body { margin: 0; font-family: Arial; text-align: center; }
			ul { margin: 0; padding: 0; }
			a { display: block; padding: 10px 0; font-size: 20px; text-decoration: none; color: #424439; border-bottom: #424439 1px dotted; text-transform: capitalize; }
			h3 {font-size: 20px; margin-bottom: 0;}
			hr {border: none; border-bottom: #424439 1px dotted;}
			p {font-size: 16px;}
	body

		h3 All Pages of Website
		p Click on any to go
		hr

		ul
			li: a(href="login.html") Login
			li: a(href="login-password.html") Login-password
			li: a(href="login-main.html") login-main
			li: a(href="login-main--no-header.html") login-main--no-header
			li: a(href="home.html") home
			li: a(href="home--fixed-header.html") home fixed header
			
			li: a(href="user-dashboard.html") user-dashboard
			li: a(href="dashboard-angular-template.html") dashboard-angular-template

			li: a(href="styleguide.html") styleguide


			

	


