extends templates/template.pug

block content


	.row.h-100.no-gutters

		include inc/_slider.pug

				


		.col-lg-6.h-100

			.vertical-space__container
					
				include inc/_header-login.pug


					
				//.vertical-space__filler will take all available vertical space
				.vertical-space__filler
				
					.container-fluid.container--first-level.h-md-100
						
						//vertical aligner
						.row.h-100.align-items-center

							.col-xxl-10.mx-auto

								.section

									.subsection

										form

											.text-center

												h1.display-3 Hello
												h2 What’s your email address?
												br

												+input('email', 'Enter email address')
												br

												button.btn.btn-primary.btn--min-width(type='submit') Next
												br
												br
												a.color-primary(href="#0") I don’t have an email




















	









				
						







