<!DOCTYPE html>
<html lang="zxx">
<!-- Head-->

<head>
	<!-- Meta-->
	<meta charset="utf-8">
	<!-- Title-->
	<title>Maptaskr Dashboard</title>
	<!-- Viewport-->
	<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=3.0, user-scalable=yes">
	<!--Disable google indexation-->
	<meta name="robots" content="noindex">
	<meta name="robots" content="nofollow">
	<!-- Main-->
	<link rel="stylesheet" href="css/main.css" />
</head>

<body class="body-fullscreen">
	<!-- Scripts-->
	<!-- jQuery-->
	<script src="js/jquery-3.2.1.min.js"></script>
	<!-- Framework-->
	<script src="js/popper.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<!-- Custom-->
	<script src="js/styleguide.js"></script>
	<script src="js/main.js"></script>
</body>

</html>