<!DOCTYPE html>
<html lang="zxx">
<!-- Head-->

<head>
	<!-- Meta-->
	<meta charset="utf-8">
	<!-- Title-->
	<title>OTCme</title>
	<!-- Viewport-->
	<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=3.0, user-scalable=yes">
	<!-- Favicon-->
	<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
	<link rel="manifest" href="/site.webmanifest">
	<link rel="mask-icon" href="/safari-pinned-tab.svg" color="#346aeb">
	<meta name="msapplication-TileColor" content="#346aeb">
	<meta name="theme-color" content="#ffffff">
	<!--Disable google indexation-->
	<meta name="robots" content="noindex">
	<meta name="robots" content="nofollow">
	<!-- Main-->
	<link rel="stylesheet" href="css/main.css">
</head>

<body class="body--header-fixed">
	<!--anchor for scroll to top-->
	<div id="top"></div>
	<!--.header-->
	<header class="header fixed-top js-fixed-header">
		<!--.navbar-custom-->
		<nav class="navbar-custom h-100">
			<!--.mobile-header-default-->
			<!--visible in phone only-->
			<div class="mobile-header-default d-md-none h-100">
				<div class="container-fluid h-100">
					<div class="row align-items-center h-100">
						<div class="col-6">
							<!--.logo-->
							<a class="logo js-smooth-scroll" href="#top">
								<img class="logo__img--phone" src="img/tpl/logo-phone.svg" alt="">
							</a>
						</div>
						<div class="col-6">
							<div class="text-right">
								<!--.navbar-toggler-->
								<button class="navbar-toggler" type="button" data-toggle-class="opened" data-target="#menu">
									<img src="img/tpl/menu.svg" alt="">
								</button>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!--/.mobile-header-default-->
			<!--.mobile-header-fixed-->
			<!--visible in phone only-->
			<div class="mobile-header-fixed h-100">
				<div class="container-fluid h-100">
					<div class="row align-items-center h-100">
						<div class="col-4">
							<!--.logo-->
							<a class="logo js-smooth-scroll" href="#top">
								<img class="logo__img--phone-short" src="img/tpl/logo.svg" alt="">
							</a>
						</div>
						<div class="col-8">
							<div class="text-right">
								<!--.action__buttons--><span class="action__buttons action__buttons--shorted-mobile action__buttons--only-icons"><a class="btn btn--with-icons btn-primary" target="_blank" href="https://app.adjust.com/crvu6mi"><i class="btn__icon btn__icon--left fa fa-apple"></i><span class="btn__text">&nbsp;</span>
								<i
								class="btn__icon btn__icon--right btn__icon--semitransparent fa fa-angle-right"></i>
									</a><a class="btn btn--with-icons btn-secondary" href="#0" data-toggle="modal" data-target="#modal-android-waitlist"><i class="btn__icon btn__icon--left fa fa-android"></i><span class="btn__text">&nbsp;</span><i class="btn__icon btn__icon--right btn__icon--semitransparent fa fa-angle-right"></i></a>
									</span>
									<!--/.action__buttons-->
							</div>
						</div>
					</div>
				</div>
			</div>
			<!--/.mobile-header-fixed-->
			<div class="container-fluid h-100">
				<div class="row align-items-center h-100">
					<!--hidden in phone-->
					<div class="col-3 d-none d-md-block">
						<!--.logo-->
						<a class="logo js-smooth-scroll" href="#top">
							<img class="logo__img" src="img/tpl/logo.svg" alt="">
						</a>
					</div>
					<div class="col-md-9">
						<!--.navbar-nav-->
						<ul class="navbar-nav ml-auto justify-content-end" id="menu">
							<!--visible in phone-->
							<li class="d-md-none">
								<div class="text-right"><a class="nav-link navbar-close" href="#0" data-toggle-class="opened" data-target="#menu"><i class="fa fa-angle-right"></i></a>
								</div>
							</li>
							<li class="nav-item"><a class="nav-link js-smooth-scroll" href="#faqs" data-toggle-class="opened" data-target="#menu">FAQs</a>
							</li>
							<li class="nav-item"><a class="nav-link" href="mailto:support@otcme.com">Contact</a>
							</li>
						</ul>
						<!--/.navbar-nav-->
					</div>
				</div>
			</div>
		</nav>
		<!--/.navbar-custom-->
	</header>
	<!--/.header-->
	<!--modals before footer-->
	<!--#modal-android-waitlist-->
	<div class="modal fade" id="modal-android-waitlist">
		<div class="modal-dialog modal-dialog-centered">
			<div class="modal-content">
				<div class="modal-header">
					<button class="close" type="button" data-dismiss="modal">
						<img src="img/tpl/icons/close.svg" alt="">
					</button>
				</div>
				<div class="modal-body">
					<div class="row">
						<div class="col-md-8 mx-auto">
							<h3 class="text-center">Join the Android waitlist.</h3>
							<form class="_form _form_43 _inline-form _dark" id="_form_43_" method="POST" action="https://texassinuscenter.activehosted.com/proc.php" novalidate="">
								<input type="hidden" name="u" value="43">
								<input type="hidden" name="f" value="43">
								<input type="hidden" name="s">
								<input type="hidden" name="c" value="0">
								<input type="hidden" name="m" value="0">
								<input type="hidden" name="act" value="sub">
								<input type="hidden" name="v" value="2">
								<div class="_form-content">
									<div class="_form_element _x35563901 _full_width">
										<label class="label text-muted mb-0">Full Name</label>
										<div class="_field-wrapper">
											<input class="form-control" type="text" name="fullname">
										</div>
									</div>
									<div class="_form_element _x89384218 _full_width">
										<label class="label text-muted mb-0">Email*</label>
										<div class="_field-wrapper">
											<input class="form-control" type="text" name="email" required="">
										</div>
									</div>
									<div class="text-center">
										<p class="text-muted"><small>Submitting your information allows us to inform you when OTCme will be available on Android devices. You will not receive any other promotional emails.</small>
										</p>
									</div>
									<div class="_button-wrapper _full_width">
										<div class="text-center">
											<button class="_submit btn btn-primary" id="_form_43_submit" type="submit">Submit</button>
										</div>
									</div>
									<div class="_clear-element"></div>
								</div>
								<div class="_form-thank-you" style="display:none;"></div>
							</form>
							<script type="text/javascript">
								window.cfields = [];
								window._show_thank_you = function(id, message, trackcmp_url) {
								var form = document.getElementById('_form_' + id + '_'), thank_you = form.querySelector('._form-thank-you');
								form.querySelector('._form-content').style.display = 'none';
								thank_you.innerHTML = message;
								thank_you.style.display = 'block';
								if (typeof(trackcmp_url) != 'undefined' && trackcmp_url) {
								// Site tracking URL to use after inline form submission.
								_load_script(trackcmp_url);
								}
								if (typeof window._form_callback !== 'undefined') window._form_callback(id);
								};
								window._show_error = function(id, message, html) {
								var form = document.getElementById('_form_' + id + '_'), err = document.createElement('div'), button = form.querySelector('button'), old_error = form.querySelector('._form_error');
								if (old_error) old_error.parentNode.removeChild(old_error);
								err.innerHTML = message;
								err.className = '_error-inner _form_error _no_arrow';
								var wrapper = document.createElement('div');
								wrapper.className = '_form-inner';
								wrapper.appendChild(err);
								button.parentNode.insertBefore(wrapper, button);
								document.querySelector('[id^="_form"][id$="_submit"]').disabled = false;
								if (html) {
								var div = document.createElement('div');
								div.className = '_error-html';
								div.innerHTML = html;
								err.appendChild(div);
								}
								};
								window._load_script = function(url, callback) {
								var head = document.querySelector('head'), script = document.createElement('script'), r = false;
								script.type = 'text/javascript';
								script.charset = 'utf-8';
								script.src = url;
								if (callback) {
								script.onload = script.onreadystatechange = function() {
								if (!r && (!this.readyState || this.readyState == 'complete')) {
								r = true;
								callback();
								}
								};
								}
								head.appendChild(script);
								};
								(function() {
								if (window.location.search.search("excludeform") !== -1) return false;
								var getCookie = function(name) {
								var match = document.cookie.match(new RegExp('(^|; )' + name + '=([^;]+)'));
								return match ? match[2] : null;
								}
								var setCookie = function(name, value) {
								var now = new Date();
								var time = now.getTime();
								var expireTime = time + 1000 * 60 * 60 * 24 * 365;
								now.setTime(expireTime);
								document.cookie = name + '=' + value + '; expires=' + now + ';path=/';
								}
								var addEvent = function(element, event, func) {
								if (element.addEventListener) {
								element.addEventListener(event, func);
								} else {
								var oldFunc = element['on' + event];
								element['on' + event] = function() {
								oldFunc.apply(this, arguments);
								func.apply(this, arguments);
								};
								}
								}
								var _removed = false;
								var form_to_submit = document.getElementById('_form_43_');
								var allInputs = form_to_submit.querySelectorAll('input, select, textarea'), tooltips = [], submitted = false;
								var getUrlParam = function(name) {
								var regexStr = '[\\?&]' + name + '=([^&#]*)';
								var results = new RegExp(regexStr, 'i').exec(window.location.href);
								return results != undefined ? decodeURIComponent(results[1]) : false;
								};
								for (var i = 0; i < allInputs.length; i++) {
								var regexStr = "field\\\[(\\d+)\\]";
								var results = new RegExp(regexStr).exec(allInputs[i].name);
								if (results != undefined) {
								allInputs[i].dataset.name = window.cfields[results[1]];
								} else {
								allInputs[i].dataset.name = allInputs[i].name;
								}
								var fieldVal = getUrlParam(allInputs[i].dataset.name);
								if (fieldVal) {
								if (allInputs[i].type == "radio" || allInputs[i].type == "checkbox") {
								if (allInputs[i].value == fieldVal) {
								allInputs[i].checked = true;
								}
								} else {
								allInputs[i].value = fieldVal;
								}
								}
								}
								var remove_tooltips = function() {
								for (var i = 0; i < tooltips.length; i++) {
								tooltips[i].tip.parentNode.removeChild(tooltips[i].tip);
								}
								tooltips = [];
								};
								var remove_tooltip = function(elem) {
								for (var i = 0; i < tooltips.length; i++) {
								if (tooltips[i].elem === elem) {
								tooltips[i].tip.parentNode.removeChild(tooltips[i].tip);
								tooltips.splice(i, 1);
								return;
								}
								}
								};
								var create_tooltip = function(elem, text) {
								var tooltip = document.createElement('div'), arrow = document.createElement('div'), inner = document.createElement('div'), new_tooltip = {};
								if (elem.type != 'radio' && elem.type != 'checkbox') {
								tooltip.className = '_error';
								arrow.className = '_error-arrow';
								inner.className = '_error-inner';
								inner.innerHTML = text;
								tooltip.appendChild(arrow);
								tooltip.appendChild(inner);
								elem.parentNode.appendChild(tooltip);
								} else {
								tooltip.className = '_error-inner _no_arrow';
								tooltip.innerHTML = text;
								elem.parentNode.insertBefore(tooltip, elem);
								new_tooltip.no_arrow = true;
								}
								new_tooltip.tip = tooltip;
								new_tooltip.elem = elem;
								tooltips.push(new_tooltip);
								return new_tooltip;
								};
								var resize_tooltip = function(tooltip) {
								var rect = tooltip.elem.getBoundingClientRect();
								var doc = document.documentElement, scrollPosition = rect.top - ((window.pageYOffset || doc.scrollTop)  - (doc.clientTop || 0));
								if (scrollPosition < 40) {
								tooltip.tip.className = tooltip.tip.className.replace(/ ?(_above|_below) ?/g, '') + ' _below';
								} else {
								tooltip.tip.className = tooltip.tip.className.replace(/ ?(_above|_below) ?/g, '') + ' _above';
								}
								};
								var resize_tooltips = function() {
								if (_removed) return;
								for (var i = 0; i < tooltips.length; i++) {
								if (!tooltips[i].no_arrow) resize_tooltip(tooltips[i]);
								}
								};
								var validate_field = function(elem, remove) {
								var tooltip = null, value = elem.value, no_error = true;
								remove ? remove_tooltip(elem) : false;
								if (elem.type != 'checkbox') elem.className = elem.className.replace(/ ?_has_error ?/g, '');
								if (elem.getAttribute('required') !== null) {
								if (elem.type == 'radio' || (elem.type == 'checkbox' && /any/.test(elem.className))) {
								var elems = form_to_submit.elements[elem.name];
								if (!(elems instanceof NodeList || elems instanceof HTMLCollection) || elems.length <= 1) {
								no_error = elem.checked;
								}
								else {
								no_error = false;
								for (var i = 0; i < elems.length; i++) {
								if (elems[i].checked) no_error = true;
								}
								}
								if (!no_error) {
								tooltip = create_tooltip(elem, "Please select an option.");
								}
								} else if (elem.type =='checkbox') {
								var elems = form_to_submit.elements[elem.name], found = false, err = [];
								no_error = true;
								for (var i = 0; i < elems.length; i++) {
								if (elems[i].getAttribute('required') === null) continue;
								if (!found && elems[i] !== elem) return true;
								found = true;
								elems[i].className = elems[i].className.replace(/ ?_has_error ?/g, '');
								if (!elems[i].checked) {
								no_error = false;
								elems[i].className = elems[i].className + ' _has_error';
								err.push("Checking %s is required".replace("%s", elems[i].value));
								}
								}
								if (!no_error) {
								tooltip = create_tooltip(elem, err.join('<br/>'));
								}
								} else if (elem.tagName == 'SELECT') {
								var selected = true;
								if (elem.multiple) {
								selected = false;
								for (var i = 0; i < elem.options.length; i++) {
								if (elem.options[i].selected) {
								selected = true;
								break;
								}
								}
								} else {
								for (var i = 0; i < elem.options.length; i++) {
								if (elem.options[i].selected && !elem.options[i].value) {
								selected = false;
								}
								}
								}
								if (!selected) {
								elem.className = elem.className + ' _has_error';
								no_error = false;
								tooltip = create_tooltip(elem, "Please select an option.");
								}
								} else if (value === undefined || value === null || value === '') {
								elem.className = elem.className + ' _has_error';
								no_error = false;
								tooltip = create_tooltip(elem, "This field is required.");
								}
								}
								if (no_error && elem.name == 'email') {
								if (!value.match(/^[\\+_a-z0-9-'&=]+(\.[\+_a-z0-9-']+)*@[a-z0-9-]+(\.[a-z0-9-]+)*(\.[a-z]{2,})$/i)) {
								elem.className = elem.className + ' _has_error';
								no_error = false;
								tooltip = create_tooltip(elem, "Enter a valid email address.");
								}
								}
								if (no_error && /date_field/.test(elem.className)) {
								if (!value.match(/^\\d\d\d\d-\d\d-\d\d$/)) {
								elem.className = elem.className + ' _has_error';
								no_error = false;
								tooltip = create_tooltip(elem, "Enter a valid date.");
								}
								}
								tooltip ? resize_tooltip(tooltip) : false;
								return no_error;
								};
								var needs_validate = function(el) {
								return el.name == 'email' || el.getAttribute('required') !== null;
								};
								var validate_form = function(e) {
								var err = form_to_submit.querySelector('._form_error'), no_error = true;
								if (!submitted) {
								submitted = true;
								for (var i = 0, len = allInputs.length; i < len; i++) {
								var input = allInputs[i];
								if (needs_validate(input)) {
								if (input.type == 'text') {
								addEvent(input, 'blur', function() {
								this.value = this.value.trim();
								validate_field(this, true);
								});
								addEvent(input, 'input', function() {
								validate_field(this, true);
								});
								} else if (input.type == 'radio' || input.type == 'checkbox') {
								(function(el) {
								var radios = form_to_submit.elements[el.name];
								for (var i = 0; i < radios.length; i++) {
								addEvent(radios[i], 'click', function() {
								validate_field(el, true);
								});
								}
								})(input);
								} else if (input.tagName == 'SELECT') {
								addEvent(input, 'change', function() {
								validate_field(this, true);
								});
								}
								}
								}
								}
								remove_tooltips();
								for (var i = 0, len = allInputs.length; i < len; i++) {
								var elem = allInputs[i];
								if (needs_validate(elem)) {
								if (elem.tagName.toLowerCase() !== "select") {
								elem.value = elem.value.trim();
								}
								validate_field(elem) ? true : no_error = false;
								}
								}
								if (!no_error && e) {
								e.preventDefault();
								}
								resize_tooltips();
								return no_error;
								};
								addEvent(window, 'resize', resize_tooltips);
								addEvent(window, 'scroll', resize_tooltips);
								window._old_serialize = null;
								if (typeof serialize !== 'undefined') window._old_serialize = window.serialize;
								_load_script("//d3rxaij56vjege.cloudfront.net/form-serialize/0.3/serialize.min.js", function() {
								window._form_serialize = window.serialize;
								if (window._old_serialize) window.serialize = window._old_serialize;
								});
								var form_submit = function(e) {
								e.preventDefault();
								if (validate_form()) {
								// use this trick to get the submit button & disable it using plain javascript
								document.querySelector('[id^="_form"][id$="_submit"]').disabled = true;
								var serialized = _form_serialize(document.getElementById('_form_43_'));
								var err = form_to_submit.querySelector('._form_error');
								err ? err.parentNode.removeChild(err) : false;
								_load_script('https://texassinuscenter.activehosted.com/proc.php?' + serialized + '&jsonp=true');
								}
								return false;
								};
								addEvent(form_to_submit, 'submit', form_submit);
								})();
							</script>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!--/#modal-android-waitlist-->
	<!--#modal-success-->
	<div class="modal fade" id="modal-success">
		<div class="modal-dialog modal-dialog-centered">
			<div class="modal-content">
				<div class="modal-header">
					<button class="close" type="button" data-dismiss="modal">
						<img src="img/tpl/icons/close.svg" alt="">
					</button>
				</div>
				<div class="modal-body">
					<div class="row">
						<div class="col-md-8 mx-auto">
							<div class="text-center">
								<br>
								<br>
								<p class="text-muted">
									<img class="mb-2" src="img/tpl/icons/ok-big.svg" alt="">
									<br>Added to Waitlist</p>
								<br>
								<h3>Thanks for your interest!</h3>
								<br>
								<br>
								<button class="btn btn-primary" data-dismiss="modal">Close</button>
								<br>
								<br>
								<br>
								<br>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!--/#modal-success-->
	<!--.footer-->
	<footer class="footer">
		<div class="container">
			<div class="text-center">
				<!--.logo-->
				<a class="logo logo--footer js-smooth-scroll" href="#top">
					<img class="logo__img" src="img/tpl/logo.svg" alt="">
				</a>
				<br>
				<h6 class="label text-muted">2018 OTC<span class="text-lowercase">me</span>, LLC. ALL RIGHTS RESERVED.</h6>
			</div>
		</div>
	</footer>
	<!--/.footer-->
	<!-- Scripts-->
	<!-- jQuery-->
	<script src="js/jquery-3.2.1.min.js"></script>
	<!-- Framework-->
	<script src="js/popper.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<!-- Custom-->
	<script src="js/styleguide.js"></script>
	<script src="js/main.js"></script>
</body>

</html>