<!DOCTYPE html>
<html lang="zxx">
<!-- Head-->

<head>
	<!-- Meta-->
	<meta charset="utf-8">
	<!-- Title-->
	<title>OTCme</title>
	<!-- Viewport-->
	<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=3.0, user-scalable=yes">
	<!-- Favicon-->
	<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
	<link rel="manifest" href="/site.webmanifest">
	<link rel="mask-icon" href="/safari-pinned-tab.svg" color="#346aeb">
	<meta name="msapplication-TileColor" content="#346aeb">
	<meta name="theme-color" content="#ffffff">
	<!--Disable google indexation-->
	<meta name="robots" content="noindex">
	<meta name="robots" content="nofollow">
	<!-- Main-->
	<link rel="stylesheet" href="css/main.css">
</head>

<body>
	<!--.page-content-->
	<div class="page-content">
		<!--.main-->
		<main class="main"></main>
		<!--/.main-->
	</div>
	<!--/.page-content-->
	<!-- Scripts-->
	<!-- jQuery-->
	<script src="js/jquery-3.2.1.min.js"></script>
	<!-- Framework-->
	<script src="js/popper.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<!-- Custom-->
	<script src="js/styleguide.js"></script>
	<script src="js/main.js"></script>
</body>

</html>