

//.days-toggler - visible in mobile
.days-toggler__container.d-md-none
	
	.days-toggler.text-center.clearfix(data-sticky)
		
		a.days-toggler__btn.float-left
			i.days-toggler__icon.days-toggler__icon--left

		span.days-toggler__text.text-muted Friday 15 Nov
		
		a.days-toggler__btn.float-right
			i.days-toggler__icon.days-toggler__icon--right
