//.footer
footer.footer

	.container-fluid.container-fluid-2

		.row

			.col-lg-2.col-md-3.d-none.d-md-block

				//.subsection
				.subsection

					h4 Activity

					ul.list-unstyled.text-muted
						li: a(href="all-activities.html") Exhibition
						li: a(href="all-activities.html") Talk
						li: a(href="all-activities.html") Theatre
						li: a(href="all-activities.html") Music
						li: a(href="all-activities.html") Dance
						li: a(href="all-activities.html") Film
				
				///.subsection


			.col-lg-2.col-md-3.d-none.d-md-block

				//.subsection
				.subsection

					h4 Venue

					ul.list-unstyled.text-muted
						li: a(href="all-activities.html") Museum
						li: a(href="all-activities.html") Gallery
						li: a(href="all-activities.html") Attraction
						li: a(href="all-activities.html") Park
						li: a(href="all-activities.html") Cinema
						li: a(href="all-activities.html") Concert Hall
						li: a(href="all-activities.html") Book Store

				///.subsection



			.col-xl-5.col-md-6.ml-auto
				
				//.subsection
				.subsection

					.row.justify-content-end

						//form width = 100% width of this column. change it and form will change too
						.col

							//form
							form.subscribe-form.footer__form

								.input-group.input-group-lg.input-group--mobile-ungroup

									+input("email", "Email address")

									.input-group-append
										input.btn.btn-primary(type="submit" value="Newsletter Sign Up")
					
							///form
							
							br
				

					.text-center.text-md-right


						//social-list
						ul.social-list.list-unstyled.footer__social-list
							li: a.social-list__icon(href="#0"): i.fa.fa-instagram
							li: a.social-list__icon(href="#0"): i.fa.fa-facebook
							li: a.social-list__icon(href="#0"): i.fa.fa-twitter
						
						h4.footer__contact-title How are we doing?

						p
							a.text-muted(href="mailto:contact@thebiglist.co") contact@thebiglist.co

					

				///.subsection


///.footer


