//.header
header.header
	
	//.header-top
	.header-top.border-bottom

		.container-fluid.container-fluid-2

			.row.align-items-center
				
				// visible in 992 and up
				.col-lg-5.d-none.d-lg-block
					
					//.secondary-nav
					nav.secondary-nav
						ul.nav
							//.dropdown
							li.dropdown
								a.nav-link(href="#0" data-toggle="dropdown") Venues
									img.icon-right.icon-dropdown(src="img/tpl/arrow-down.svg", alt="")
								
								//.dropdown-menu
								.dropdown-menu.dropdown-large

									.d-flex

										//.dropdown-column
										.dropdown-column.border-right

											//.dropdown-section
											.dropdown-section

												h5 Museums

												ul.dropdown-section__list.list-unstyled
													li: a(href="all-activities.html") Galleries
													li: a(href="all-activities.html") Attractions
													li: a(href="all-activities.html") Concert Hall / Talks
													li: a(href="all-activities.html") Parks
													li: a(href="all-activities.html") Bookstores
													li: a(href="all-activities.html") Cinemas

											.separator

											//.dropdown-section
											.dropdown-section

												h5: a.color-inherit(href="all-venues.html") Browse Venues

												ul.dropdown-section__list.list-unstyled
													li: a(href="all-activities.html") Link
													li: a(href="all-activities.html") Link
													li: a(href="all-activities.html") Link
										

										
										//.dropdown-column
										.dropdown-column.border-right

											//.dropdown-section
											.dropdown-section

												h5 All Museums

												ul.dropdown-section__list.list-unstyled
													li: a(href="all-activities.html") British Museum
													li: a(href="all-activities.html") Museum of London
													li: a(href="all-activities.html") Science Museum
													li: a(href="all-activities.html") Natural History Museum
													li: a(href="all-activities.html") National Maritine Museum
													li: a(href="all-activities.html") British Library
													li: a(href="all-activities.html") Museum of London Docklands
													li: a(href="all-activities.html") Wellcome Collection
													li: a(href="all-activities.html") Sir John Sloane’s Museum
													li: a(href="all-activities.html") Geffrye Museum
													li: a(href="all-activities.html") Horniman Museum
													li: a(href="all-activities.html") Churchill War Rooms
													li: a(href="all-activities.html") Royal Air Force Museum
													li: a(href="all-activities.html") Royal Museums Greenwich
													li: a(href="all-activities.html") HMS Belfast
													li: a(href="all-activities.html") Freud Museum
													li: a(href="all-activities.html") Bank of England Museum
													li: a(href="all-activities.html") Queen’s House
													li: a(href="all-activities.html") Charles Dickens Museum
													li: a(href="all-activities.html") British Library.


									
										

										
										//.dropdown-column
										.dropdown-column

											//.dropdown-section
											.dropdown-section

												h5 Galleries

												ul.dropdown-section__list.list-unstyled
													li: a(href="all-activities.html") British Museum
													li: a(href="all-activities.html") Museum of London
													li: a(href="all-activities.html") Science Museum
													li: a(href="all-activities.html") Natural History Museum
													li: a(href="all-activities.html") National Maritine Museum
													li: a(href="all-activities.html") British Library
													li: a(href="all-activities.html") Museum of London Docklands
													
											.separator

											//.dropdown-section
											.dropdown-section

												h5 Attractions

												ul.dropdown-section__list.list-unstyled
													li: a(href="all-activities.html") British Museum
													li: a(href="all-activities.html") Museum of London
													li: a(href="all-activities.html") Science Museum
													li: a(href="all-activities.html") Natural History Museum
													li: a(href="all-activities.html") National Maritine Museum
													li: a(href="all-activities.html") Charles Dickens Museum
													li: a(href="all-activities.html") British Library.



							
							li
								a.nav-link(href="book-ahead.html") Book Ahead
							
							li
								a.nav-link(href="#0") Offers
					///.secondary-nav



				.col-lg-2

					// logo
					.text-center
						a(href="home.html")
							img.logo.img-fluid(src="img/tpl/logo.svg", alt="")
								
				// visible in 992 and up
				.col-lg-5.d-none.d-lg-block

					.row.justify-content-end

						//form width = 100% width of this column. change it and form will change too
						.col-xl-8.col-lg-9

							//form
							form.subscribe-form

								.input-group.input-group-lg

									+input("email", "Events newsletter")

									.input-group-append
										input.btn.btn-primary(type="submit" value="Subscribe")
					
							///form
	
	///.header-top





	//.header-bottom
	.header-bottom

		.container-fluid


			//.main-nav
			nav.main-nav
				
				//scroll
				.horizontal-scroll__container
				
					.horizontal-scroll
					
						ul.nav
							li: a.nav-link.link--exhibitions(href="all-activities.html") Exhibitions
							li: a.nav-link.link--talks(href="all-activities.html") Talks
							li: a.nav-link.link--theatre(href="all-activities.html") Theatre
							li: a.nav-link.link--music(href="all-activities.html") Music
							li: a.nav-link.link--dance(href="all-activities.html") Dance
							li: a.nav-link.link--film(href="all-activities.html") Film
							li: a.nav-link.link--all-activities(href="all-activities.html") All Activities

				//scroll
				
			///.main-nav
							
	
	//.header-bottom



//.header












