// Scripts

// jQuery
script(src="js/jquery-3.2.1.min.js")

// Framework
script(src="js/popper.min.js")
script(src="js/bootstrap.min.js")

// Date range picker
script(src="js/moment.min.js")
script(src="js/jquery.daterangepicker.js")

// Range Slider
script(src="js/ion.rangeSlider.min.js")

// Custom
script(src="js/main.js")
